
#administrators_mainInfoLeft_p1_id{
    color: #409EFF;
}

#administrators_mainInfoLeft_p1_id:hover{
    color: red;
}

.administrators_mainInfoRight_div_class{
    margin-left: 2%;

    width: 81%;
    height: auto;
    min-height: calc(100vh);
    background: #ffffff;
    /*y阴影*/
    box-shadow: 0px 5px 10px #b2d1d4;

    float: left;
}

.administrators_mainInfoRight_Listdiv_class{
    width: 100%;
    height: 50px;
    background: #ffffff;
}

.administrators_mainInfoRight_Listp_class{
    margin-top: 10px;
    margin-left: 20px;

    display: block;
    font-size: 17px;
    font-weight:bold;
    width: 240px;
    background: #ffffff;
}


.administrators_mainInfoRight_divhr_class{
    margin-top: 10px;
    margin-left: 20px;

    width: 96%;
    height: 1px;
    background: #999999;
}

.administrators_mainInfoRight_needdiv_class{
    margin-left: 20px;
    margin-top: 20px;

    width: 96%;
    height: 180px;
    background: #eeeeee;
    /*设置为圆角*/
    border-radius:15px 15px 15px 15px;
}

.reportleft_div_class{
    margin-left: 2%;

    width: 78%;
    height: 180px;

    float: left;
}

.reportright_div_class{
    margin-right: 2%;

    width: 18%;
    height: 180px;

    float: left;
}

.reportInfo_everydiv_class{
    width: 100%;
    height: 35px;
}

.reportInfo_pname_class{
    margin-top: 6px;
    margin-left: 15px;

    display: block;
    width: 12%;
    font-size: 15px;
    font-weight:bold;

    float: left;
}
.reportInfo_pinfo_class{
    margin-top: 6px;

    display: block;
    width: 84%;
    font-size: 15px;

    float: left;
}

.reportright_button_class {
    margin-top: 135px;
    margin-left: 20px;
}

.fenyediv{
    margin-left: 400px;
    margin-top: 40px;

    width: 800px;
    height: 100px;

    float: left;
}

.bottom_div_class{
    margin-top: 10px;

    height: 30px;
    width: 100%;
    /*background: #c2e7b0;*/

    float: left;
}

