#administrators_mainInfoLeft_p1_id{
    color: #409EFF;
}

#administrators_mainInfoLeft_p1_id:hover{
    color: red;
}

.administrators_mainInfoRight_div_class{
    margin-left: 2%;

    width: 81%;
    height: 950px;
    background: #ffffff;

    float: left;
}
.administrators_mainInfoRight_Listdiv_class{
    width: 100%;
    height: 40px;
    background: #ffffff;
}

.administrators_mainInfoRight_Listp_class{
    margin-top: 10px;
    margin-left: 15px;

    display: block;
    font-size: 17px;
    width: 105px;
    height: 20px;
    background: #ffffff;
    font-weight:bold;

    float: left;
}

.administrators_mainInfoRight_Listp2_class{
    margin-top: 12px;
    margin-left: 5px;

    display: block;
    font-size: 15px;
    width: 110px;
    height: 20px;
    background: #ffffff;

    float: left;
}

.administrators_divhr_class{
    margin-left: 20px;

    height: 1px;
    width: 96%;
    background: #aaaaaa;
}

.detailshanleWork_div_class{
    margin-left: 15px;
    margin-top: 15px;

    width: 96%;
    height: 850px;
    background: #eeeeee;
    /*设置为圆角*/
    border-radius:15px 15px 15px 15px;
}

.reportInfo_everydiv_class{
    position: relative;
    top: 10px;

    height: 20px;
    width: 100%;
}

.reportInfo_everypname_class{
    margin-top: 0px;

    display: block;
    width: 15%;
    height: 20px;
    font-weight:bold;
    font-size: 15px;
    text-align: center;

    float: left;
}

.reportInfo_everyp_class{
    margin-top: 0px;

    display: block;
    width: 84%;
    height: 20px;

    float: left;
}

.reportInfo_contentp_class{
    margin-top: 0px;

    display: block;
    font-size: 15px;
    width: 82%;
    height: 550px;
    background: #ffffff;
    overflow-y:auto;
    /*设置为圆角*/
    border-radius:5px 5px 5px 5px;
    border:1px solid #aaaaaa;

    float: left;
}

/*优化滚动条*/
.reportInfo_contentp_class::-webkit-scrollbar {
    width: 8px;
}

.reportInfo_contentp_class::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}

.reportInfo_contentp_class::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}

.reject_button_class{
    margin-left: 270px;
    margin-top: 20px;
}

.agree_button_class{
    margin-left:340px;
    margin-top: 20px;
}



