.selectresult-class{

    width: 1200px;
    height: 1000px;
    margin: auto;
    display:table;
    background: #d2d2d2;
}

.vole-tips-class{
    background: #ffb0b0;
    width: 805px;
    height: 400px;
    margin-left: 67px;
    margin-top: 10px;
}

.selectworkInfo-class{
    background: #b0daff;
    width: 805px;
    height: 400px;
    margin-left: 67px;
}