
/*查询标签选择内容*/
.selectresult_class{
    margin: auto;
    display:table;

    width: 1200px;
    min-height: calc(100vh - 380px);
}

.mainLeft_class{
    width: 880px;
    height: auto;

    float: left;
}


.vole_tips_class{
    margin-left: 67px;
    margin-top: 10px;

    background: #f7f6f2;
    width: 805px;
    height: 250px;
}

.voletips_p_class{
    margin-left: 10px;

    font-weight: bold;
    font-size: 13px;
    color: #444444;
}

.selected_button_class{
    margin-left: 10px;
    margin-top: 2px;

    background: #f7f6f2;
    border-color: #f7f6f2;
    color: #444444;
}

/*显示获取的数量*/
.selectworknum_class{
    margin-left: 67px;
    margin-top: 20px;

    width: 805px;
    height: 30px;
    background: #f7f6f2;
}
.selectworknum_p_class{
    margin-left: 20px;
    position: relative;
    top: 7px;

    display: block;
    width: 500px;
    height: 20px;
    font-size: 13px;
    color: #555555;
}



/*返回作品内容*/
.selectworkInfo_class{
    margin-left: 67px;
    margin-top: 10px;

    width: 805px;

    float: left;
}

/*相应作品信息*/
.responseWorksInfo_div_class{
    width: 100%;
    height: 170px;
    background: #ffffff;
}

/*左侧作品封面*/
.responseWorkcover_div_class{
    height: 150px;
    width: 15%;
    float: left;
}

.responseWorkcover_img_class{
    z-index:-1;

    height: 150px;
    width:113px;
}
/*作品其他信息*/
.responseotherWork_div_class{
    width: 60%;
    height: 150px;

    float: left;
}

.work_name_a_class{
    margin-left: 2%;
    margin-top: 5px;

    display: block;
    width: 400px;
    height: 25px;
    font-size: 20px;
    text-decoration: none;
    color: #444444;
}

.work_name_a_class:hover {
    color: #ff0000
}

.work_hang2_div_class{
    margin-top: 10px;
    margin-left: 2%;

    width: 98%;
    height: 25px;
}

.rankingme_img_class{
    display: block;
    width: 20px;
    height: 20px;

    float: left;
}

.username_a_class{
    margin-left: 10px;

    display: block;
    height: 20px;
    font-size: 15px;
    text-decoration: none;
    color: #444444;

    float: left;
}

.username_a_class:hover {
    color: #ff0000
}

.otherworkInfo_hang2_info{
    margin-left: 10px;
    margin-top: 0px;

    display: block;
    font-size: 15px;
    width: 100px;
    color: #555555;

    float: left;
}

.workintroduct_p_class{
    margin-left: 2%;
    margin-top: 5px;

    display: block;
    width: 95%;
    height: 35px;
    font-size: 14px;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
}

.work_hang4_div_class{
    margin-left: 2%;

    width: 98%;
    height: 20px;
}

.newchapter_a_class{
    display: block;
    height: 20px;
    font-size: 15px;
    max-width: 150px;

    color: #060b99;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    float: left;
}

.newchapter_b_class{
    display: block;
    height: 20px;
    font-size: 15px;
    max-width: 250px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    float: left;
}

.newchapter_a_class:hover {
    color: #ff0000
}

.newchapter_time_a_class{
    margin-left: 30px;
    margin-top: 2px;

    display: block;
    height: 20px;
    font-size: 13px;

    float: left;
}

.rankingWorkButton_div_class{
    width: 25%;
    height: 150px;
    float: left;
}


.num_a_class{
    margin-top: 8px;

    display: block;
    width: 70%;
    height: 20px;
    /*组件位于右边*/
    text-align: right;
    font-size: 16px;

    float: left;
}

.num_a2_class{
    margin-top: 9px;

    display: block;
    width: 29%;
    height: 20px;
    /*组件位于右边*/
    text-align: right;
    font-size: 15px;

    float: left;
}

.addto_button_class{
    margin-top: 85px;
    margin-left: 25px;
}

.divhr_class{
    position: relative;
    top: 160px;

    width: 100%;
    height: 1px;
    background: #888888;
}

.work_null_div_class{
    width: 100%;
    height: 300px;

}

.worknull_img_div{
    margin-left: 300px;
}

.worknull_p_div{
    margin-left: 260px;
    margin-top: 20px;

    display: block;
    width: 350px;
    font-size: 18px;
    font-weight: bold;
    color: #535353;

    float: left;
}

/*****左侧推荐*/
.tuijian_class{
    margin-left: 20px;
    margin-top: 10px;

    width: 270px;
    height: 450px;
    background: #f6f5f2;

    float: left;
}

.rankingworkinfo_p_class{
    margin-left: 100px;
    margin-top: 20px;

    display: block;
    width: 70px;
    font-size: 22px;
    height: 28px;
    /*background: #409EFF;*/
}

.rankingworkinfo_div_class{
    margin-top: 10px;

    width: 100%;
    height: 25px;
}


.rankingworkinfo_mainlabela_class{
    margin-left: 8px;
    margin-top: 3px;
    
    display: block;
    width: 65px;
    height: 22px;
    /*background: #409EFF;*/
    font-size: 14px;

    float: left;
}

.rankingworkinfo_work_name_class{
    margin-left: 0px;
    margin-top: 2px;

    display: block;
    width: 180px;
    height: 20px;
    color: #444444;
    /*超出本分强制不换行*/
    white-space:nowrap;
    /*超出部分隐藏*/
    overflow: hidden;
    text-overflow: ellipsis;
    /*去掉链接下划线*/
    text-decoration:none;
    font-size: 15px;

    float: left;
}

.rankingworkinfo_work_name_class:hover{
    color: red;
    font-weight: bold;
}