.body_left_carousel{
    width: 100%;
    height: auto;

}
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}
.body_header{
    background-color: #faf8f8;
}
.body_img{
    width: 100%;
    height: 170px;
    margin: 0px auto;/*  设置上下外边距为0px，左右自动，默认居中*/

    background-image: url("../images/bg_card.png");
    background-position: left top;
    background-repeat: repeat-x;
    border: 2px solid red;
    box-shadow: 2px 2px 1px #685224;
}
.body_img_img{
    width: auto;
    min-width: 10%;
    height: auto;
    min-height: 40%;
    text-align: center;
    border:  2px solid red;
    margin-top: 50px;
    margin-left: 15px;
    float: left;
}
#avatar{
    /*  <img>标签的样式  */
    border-radius: 50%;
}
.body_img_content{
    /*background-color: #e6e6e6;*/
    width: 60%;
    height: 30%;
    border: 1px solid #00ff00;
    border-radius: 5px;
    text-align: left;
    margin-top: 115px;
    margin-left: 35px;
    float: left;

}
.body_img_content label{
    margin-left: 20px;
    color: #a31919;
    border:1px solid blue;
    font-weight: normal;
    margin-bottom: 5px;
    float: bottom;
}
.body_img_content label span{
    font-size: 10px;
    color: #121212;
    font-weight: bold;
}
.body_center{
    margin: 10px auto;
    width: 100%;
    height: auto;
    max-height: 90%;
    /* 待更新
    background-image: url("../images/bg_center.jpg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    */
}
.users{
    /*  如果没有理解错的话应该是每一个user的div  */
    width: 100%;
    height: 100px;
    border: 2px solid red;
    margin: 2px auto;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.users_avatar{
    width: 17%;
    height: 80%;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    float: left;
}
.users_avatar img{
    width: 75%;
    height: 75%;
    border-radius: 50%;
    margin: 3px 3px;
    text-align: center;
}
.users_content{
    width: 55%;
    height: 80%;
    padding: 10px;
    border: 2px solid blue;
    float: left;
}
.users_operate{
    width: 15%;
    height: 80%;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    float: left;
}
.noDataTips{
    width: 80%;
    height: 200px;
    /*border: 2px solid red;*/
    background-image: url("../images/noDataTips.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    margin: 5px auto;
}
.users_pagination{
    width: 90%;
    height: 20px;
    margin: 2px auto;
    float: bottom;
}
