
#worksMangagementp_id{
    color: #8cc5ff;
}
#worksMangagementp_id:hover{
    color: red;

}

#addWorksInfo_id{
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 30px;

    background: #ffffff;
    width: 875px;
    height: calc(100vh);
    /*渐变色阴影*/
    box-shadow: 5px 5px 10px #b2d1d4;
    /*设置为圆角*/
    border-radius:5px 5px 5px 5px;

    float: left;
}

#creatework_id{
    margin-left: 10px;
    margin-top: 10px;

    font-weight: bold;
    font-size: 15px;
    color: #494949;
}

#addworkhr_id{
    width: 700px;
    margin-left: 10px;
    color: #f3f3f3;
}


/*主要内容*/
#creatwork_include_input{


}

.creatwork_include_namep{
    background: #5daf34;
}

.createworkTips{
    position: relative;
    left: 180px;

    font-size: 12px;
    color: #868686;
    width: 510px;
}


.creatwork_include_p{
    margin-left: 80px;
    margin-top: 30px;

    font-size: 15px;
    color: #5e5e5e;
}

.creatwork_include_input{
    font-size: 14px;
    color: #5e5e5e;
}

.addwork_to_button{
    position: relative;
    left: 150px;
    top: 40px;

    width: 120px;
    height: 40px;
}

.notaddwork_to_button{
    position: relative;
    left: 250px;
    top: 40px;

    width: 120px;
    height: 40px;
    font-size: 15px;
    color: #5e5e5e;
}

#creatwork_include_intinput{
    width: 510px;
    height: 150px;
    resize: none;
}

#creatwork_include_otherinput{
    width: 510px;
    height: 150px;
    resize: none;
}