
.rankinginclue-class{
    width: 1200px;
    height: auto;
    margin: auto;
    display:table;
}

.rankinginclue_left_class{
    margin-left: 6%;
    margin-top: 10px;

    width: 15%;
    height: 280px;
    background: #f7f6f2;

    float: left;
}
.ranking_name_a_class{
    padding-top: 10px;

    display: block;
    width: 100%;
    height: 30px;
    text-decoration: none;
    color: #6c6c6c;
    /*组件位于中间*/
    text-align: center;
}

/*获得焦点状态*/
.ranking_name_a_class:hover {
    color: #ff0000
}

.hr_div_class{
    margin-left: 5%;

    background: #bfbfbf;
    width: 90%;
    height: 1px;
}

.rankinginclue_right_class{
    margin-top: 10px;
    margin-left: 3%;

    width: 74%;
    height: auto;

    float: left;
}

.rankinginclue_right_top_class{
    height: 40px;
    width: 100%;
    background: #f7f6f2;
}
.rankinginclue_leftneed_class{
    width: 100%;
    height: 50px;
    background: #eeeeee;
}
.ranking_need_p_class{
    margin-left: 15px;

    display: block;
    width: 8%;
    height: 20px;
    font-size: 15px;
    font-weight:bold;
    color: #333333;

    float: left;
}
.ranking_need_p1_class{
    display: block;
    width: 20%;
    height: 20px;
    font-size: 15px;
    color: #333333;

    float: left;
}


.time_need_p_class{
    display: block;
    width: 40%;
    height: 20px;
    font-size: 15px;
    color: #666666;

    float: left;
}
.rankinginclue_right_top_a_class{
    margin-top: 5px;
    margin-left: 5px;

    color: #666666;
    float: left;
    text-decoration: none;
    font-size: 15px;
}

.rankinginclue_right_top_a_class:hover{
    color: #ff0000
}

#allwork_id{
    margin-left: 15px;
}
#alltime_id{
    margin-left: 15px;
}

.fenge_a_class{
    margin-top: 5px;
    margin-left: 5px;

    font-size: 20px;
    color: #666666;

    float: left;
}

.rankinginclue_right_bottom_class{
    position: relative;
    top:10px;

    height: auto;
    width: 100%;

}

.rankinginclue_onehang_div_class{
    margin-top: 10px;

    width: 100%;
    height: 650px;

}

.rankinginclue_twohang_div_class{
    width: 100%;
    height: 650px;
}

.rankinginclue_right_recommend_class{
    width: 40%;
    height: auto;


    float: left;
}

#rankinginclue_right_recommend_id{
    margin-left: 50px;
}
#rankinginclue_right_recommend2_id{
    margin-left: 124px;
}
#rankinginclue_right_recommend3_id{
    margin-left: 50px;
}
#rankinginclue_right_recommend4_id{
    margin-left: 124px;
}

#rankinginclue_right_collection_id{
    margin-left: 12%;
}

.rankinginclue_right_Listname_frist_class{
    height: 40px;
    width: 100%;
}

.rankinginclue_right_Listname_p_class{
    margin-top: 0px;
    margin-bottom: 0px;

    display: block;
    width: 30%;
    height: 30px;
    font-size: 25px;
    color: #555555;

    float: left;
}

.more_Listname_a_class{
    margin-top: 12px;

    display: block;
    width: 40%;
    font-size: 15px;
    color: #8cc5ff;
    text-decoration: none;

    float: left;
}

.more_Listname_a_class:hover{
    color: red;
    font-weight: bold;
}

.whattimes_div_class{
    margin-top: 12px;

    width: 20%;
    font-size: 15px;
    color: #000000;

    float: left;
}

.whattimes_a1_class{
    text-decoration: none;
    color: #888888;
    font-size: 13px;
}

.whattimes_a1_class:hover{
    color: red;
    font-weight: bold;
}

.rankinghr_div_class{
    height: 1px;
    width: 100%;
    background: #999999;
}

.rankinginclue_right_List_frist_class{
    margin-top: 10px;

    height: 120px;
    width: 100%;
    background: #ffffff;
}

.workinfo_left_div_class{
    width: 70%;
    height: 120px;
    background: #ffffff;

    float: left;
}

.workinfo_right_div_class{
    width: 30%;
    height: 120px;
    background: #ffffff;

    float: left;
}

.no1_p_class{
    margin-top: 0px;

    width: 50px;
    height: 23px;
    font-size: 17px;
    background: red;
    color: #FFFFFF;

    /*组件位于中间*/
    text-align: center;
}

.no1_work_name_class{
    margin-top: -10px;

    display: block;
    text-decoration: none;
    color: #444444;
    font-size: 17px;
}

.no1_work_name_class:hover{
    color: #ff0000;
    font-weight: bold;
}

.no1_work_num_class{
    display: block;
    margin-top: 5px;

    width: 100%;
    text-decoration: none;
    font-size: 19px;
    color: #ff0000;
}

.no1_work_state_class{
    display: block;
    margin-top: 5px;

    width: 100%;
    text-decoration: none;
    font-size: 15px;
    color: #444444;
}

.workinfo_right_img_class{
    margin-left: 15px;

    height: 120px;
    width: 90px;
}
.otherno_work_div_class{
    margin-top: 8px;
}

.rankinghr_div2_class{
    margin-top: 10px;

    height: 1px;
    width: 100%;
    background: #dddddd;
}

.otherranking_work_div_class{
    margin-top: 8px;

    width: 100%;
    height: 30px;
}

.other_work_pnum_class{
    margin-top: 0px;

    display: block;
    height: 25px;
    width:7%;
    background: #aaaaaa;
    font-size: 20px;
    /*组件位于中间*/
    text-align: center;
    color: #FFFFFF;

    float: left;
}

.other_work_name_p_class{
    margin-top: 3px;
    margin-left: 3%;

    display: block;
    text-decoration: none;
    color: #444444;
    width: 70%;
    font-size: 15px;

    float: left;
}

.other_work_name_p_class:hover{
    color: #e30000;
    font-weight: bold;

}

.resultnum_class{
    margin-top: 3px;

    display: block;
    width: 20%;
    text-align:right;
    background: #ffffff;
    font-size: 15px;

    float: left;
}

.bottom_div_class{
    margin-top: 40px;

    width: 100%;
    height: 80px;
}