/*顶部导航栏*/
.detailstopNavigation_div_class{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;

    height: 28px;
    width: 100%;
    background: #3e3d43;
}

.detailstopNavigation_ul_class{
    margin:auto;
    display:table;
    padding-left: 0px;

    width: 1160px;
    max-height: 28px;
    background: #3e3d43;
    list-style-type: none;
}

.detailstopNavigation_button_class{
    margin-left: 0px;

    background: #3e3d43;
    border-color: #3e3d43;

    float: left;
}

#user_name_id{
    margin-left: 200px;

    overflow: hidden;
    text-overflow: ellipsis;
}

#shujia_id{
    max-height: 28px;

    float: right;
}

.shaohualogo{
    position: relative;
    top:-2px;

    width: 18px;
    height: 18px;

    float: left;
}

.work_name_p_class{
    margin-left: 10px;
    position: relative;
    top:-12px;

    float: left;
}



/*横幅*/

.banner_div_class{
    margin-left: -10px;

    width: 101%;
    background: #3e3d43;
    overflow: hidden;
    text-overflow: ellipsis;
}

.banner_img_class{
    min-width: 100%;
    min-height: 300px;
}

/*主要内容*/
.mainInfo_div_class{
    margin:auto;
    display:table;
    position: relative;
    top:-100px;
    z-index: 0;


    width: 1500px;
    height: auto;
    min-height: calc(100vh - 1000px);
    /*background: red;*/
}

.mainInfo_div2_class{
    margin-left: 250px;

    width: 1000px;
    height: auto;
}

/*模块1，书籍信息不动模块*/
.workinfo1_div_class{
    height: 260px;
    width: 100%;
    background: #FFFFFF;
}
.work_cover_div_class{
    height: 220px;
    width: 170px;
    background: #ffffff;

    float: left;
}

.work_cover_class{
    margin-left: 20px;
    margin-top: 20px;

    width: 150px;
    height: 205px;
}

.workInfo_right_class{
    width: 800px;
    height: 220px;
    background: #ffffff;

    float: left;
}

/*第一行*/
.one_line_class{
    width: 100%;
    background: #ffffff;
    height: 65px;
}

.work_name_h_class{
    margin-top: 20px;
    margin-left: 15px;

    height: 30px;
    display:inline-block;
}

.user_name_p_class{
    margin-left: 20px;

    height: 30px;
    display:inline-block;
    color: #444444;
    /*去掉链接下划线*/
    text-decoration:none;
}
.user_name_p_class:hover {
    color: #ff0000
}

/*第二行*/
.div_line_class{
    width: 100%;
    background: #ffffff;
    height: 40px;
}

.line_el_tag_class{
    margin-left: 15px;
    margin-top: 10px;
}

.label_h_class{
    margin-left: 15px;
    position: relative;
    top:10px;
}

.num_label_p_class{
    margin-left: 15px;
    position: relative;
    top:1px;

    font-size: 20px;
}

.workinfo1_div_button_class{
    margin-left: 15px;
}


/*第二部分*/
.workinfo2_div_class{
    width: 100%;
    height: auto;
}

/*左边部分*/
.workinfo2_leftdiv_class{
    height: auto;
    width: 75%;
    background: #ffffff;

    float: left;
}

.workinfo2_leftdiv1_class{
    margin-left: 5px;

    width:95%;
    height: auto;
    background: #ffffff;
}
/*作品介绍信息时*/
.work_introduct_class{
    margin-top: 20px;

    display: block;
    width: 100%;
    color: #888888;
}

.label_custom_class{
    position: relative;
    top:15px;

    color: #888888;
    display: block;
    width: 10%;
    font-size: 15px;

    float: left;
}

.label_custominfo_class{
    margin-top: 20px;
    margin-left: 20px;
}

/*最新章节信息*/
.newchapter_div_info{
    height: 30px;
    width: 100%;
}
.newchapter_info{
    position: relative;
    top:15px;

    color: #888888;
    display: block;
    width: 10%;
    font-size: 15px;

    float: left;
}

.newchapter1_info{
    position: relative;
    top:15px;
    left: 15px;

    color: #424242;
    display: block;
    width: 80%;
    font-size: 15px;

    float: left;
}

.chapter_div_info{
    max-height: 380px;
    margin-top: 15px;

    width: 100%;
    height: auto;
    overflow-y:auto;
}

/*优化滚动条*/
.chapter_div_info::-webkit-scrollbar {
    width: 8px;
}

.chapter_div_info::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}

.chapter_div_info::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}


.thischapter_info{
    display: block;
    width: 100%;
    height: 20px;
    font-size: 15px;
    color: #888888;
}

.allchapter_info_class{
    margin-left: 12%;
    margin-top: 8px;

    display: block;
    width: 88%;
    text-decoration: none;
    color: #888888;
}

.chpterCatalog_div1_class{
    display: block;
    margin-top: 5px;
    margin-left: 6%;

    height: 28px;
    width: 94%;
    /*background: #cf9236;*/
    border-bottom:1px solid #dddddd;
}

.chapterCataloginfo_div_class{
    width: 92%;
    height: 28px;
    /*background: #8cc5ff;*/

    float: left;
}

.chapterCataloginfo_a_class{
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.chapterCataloginfo_a_class:hover {
    color: #ff0000
}

.chapter_charge_div_class{
    width:8% ;
    height: 28px;
    /*background: #c2e7b0;*/

    float: left;
}

.chapter_charge_img_class{
    width: 20px;
    height: 20px;
}

/*右侧作者信息*/
.workinfo_rightbo_class{
    width: 50%;
    height: 100px;
    background: #ffffff;
}
/*右边部分*/
.workinfo2_rightdiv_class{
    margin-left: 4%;

    width: 21%;
    height: 600px;
    background: #f7f6f2;

    float: left;
}

.head_portrait_class{
    margin-left: 27%;
    margin-top: 20px;

    width: 100px;
    height: 100px;
    /*设置为圆角*/
    border-radius: 50% 50% 50% 50%;
}

.user_name_div_class{
    margin: 0 auto;

    text-align: center;
}

.user_name_class{
    margin-top:  10px;

    color: #424242;
}

.workinfo2_hr_class{
    margin-top: 10px;
    margin-left: 5%;

    background: #888888;
    width: 90%;
    height: 1px;
}

/*作者的作品信息*/
.user_info_class{
    margin-top: 10px;

    height: 120px;
}

.user1_info1_class{
    width: 50%;
    height: 60px;
    text-align: center;

    float: left;
}

.user1_info2_class{
    margin-left: 20px;
    height: 60px;
    width: 60px;
    /*设置为圆角*/
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    background: #efdfb0;
}
.user1_info3_class{
    margin-left: 20px;
    height: 60px;
    width: 60px;
    /*设置为圆角*/
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    background: #d67772;
}

.user1_info1_img_class{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    /*设置为圆角*/
    border-radius: 50% 50% 50% 50%;

}

/*作者的作品信息,第二行*/
.user2_info2_class{
    width: 50%;
    height: 30px;
    text-align: center;

    float: left;
}

.user2_info1_p_class{
    position: relative;
    top: -10px;

    font-size: 15px;
}


.user2_info2_p_class{
    position: relative;
    top: -10px;

    font-size: 13px;
    color: #ff2b2b;
}

/*其他作品*/
.userwork_info_class{
    position: relative;
    top: -10px;

    width: 100%;
    height: 300px;
}

.morework_class{
    height: 40px;
    width: 100%;
}

.other_work_class{
    margin-left: 10px;

    font-size: 14px;
    display: block;
    width: 50%;

    float: left;
}

.more_work_class{
    position: relative;
    top: 15px;
    margin-left: 20%;

    font-size: 14px;
    display: block;
    text-decoration: none;
    width: 20%;

    float: left;
}

.more_work_class:hover {
    color: #ff0000
}

.moreworklunbo_class{
    width: 100%;
    height: 200px;
}

.carousel_class{
    width: 100%;
    height: 300px;
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}
.el-carousel__item:nth-child(2n) {
    /*background-color: #99a9bf;*/
}

.el-carousel__item:nth-child(2n+1) {
    /*background-color: #d3dce6;*/
}


.otherwork_cover_div_class{
    width: 100%;
    height: 130px;
    text-align: center;
}

.otherwork_cover_class{
    width: 90px;
    height: 120px;
}

.othername_div_class{
    width: 100%;
    height: 20px;
    text-align: center;
}

.othername_p_class{
    margin-top: -5px;

    font-size: 15px;
}

.otherint_div_class{
    width: 100%;
    height: 59px;
    text-align: center;
}

.otherint_p_class{
    margin-left: 5%;

    display: block;
    width: 90%;
    height: 59px;
    font-size: 14px;
    color: #888888;
    overflow: hidden;
    text-overflow: ellipsis;
}

.otherButton_div_class{
    text-align: center;
    width: 100%;
    height: 50px;
}

.other_button_class{
    margin-top: 0px;
    background: #f7f6f2;
    color: red;
}

/*底部div*/
.bottom_div_class{
    width: 110%;
    height: 300px;
    background: #b6b6b6;
    margin-bottom: 0px;

    margin-left: -10px;
}