.personality_class{
    margin: auto;
    display:table;

    width: 1170px;
    height: 1000px;
    /*background: #ececec;*/
}

.personality_title_class{
    margin: auto;
    display:table;
    margin-top: 15px;

    width: auto;
    height: 20px;
    /*background: #f8f5ec;*/
}

.title_img_class{
    height: 25px;
    width: 25px;

    float: left;
}

.title_p_class{
    margin-top: 5px;
    margin-left: 10px;

    font-size: 15px;
    color: #74a3f5;

    float: left;
}

.personality_left_class{
    margin-left: 67px;
    margin-top: 10px;

    width: 865px;
    height: auto;


    float: left;
}









/*************************************/














/*相应作品信息*/
.responseWorksInfo_div_class{
    width: 100%;
    height: 170px;
    background: #ffffff;
}

/*左侧作品封面*/
.responseWorkcover_div_class{
    height: 150px;
    width: 15%;
    float: left;
}

.responseWorkcover_img_class{
    z-index:-1;

    height: 150px;
    width:113px;
}
/*作品其他信息*/
.responseotherWork_div_class{
    width: 60%;
    height: 150px;

    float: left;
}

.work_name_a_class{
    margin-left: 2%;
    margin-top: 5px;

    display: block;
    width: 400px;
    height: 25px;
    font-size: 20px;
    text-decoration: none;
    color: #444444;
}

.work_name_a_class:hover {
    color: #ff0000;
    font-weight: bold;
}

.work_hang2_div_class{
    margin-top: 10px;
    margin-left: 2%;

    width: 98%;
    height: 25px;
}

.rankingme_img_class{
    display: block;
    width: 20px;
    height: 20px;

    float: left;
}

.username_a_class{
    margin-left: 10px;

    display: block;
    height: 20px;
    font-size: 15px;
    text-decoration: none;
    color: #444444;

    float: left;
}

.username_a_class:hover {
    color: #ff0000;
    font-weight: bold;
}

.otherworkInfo_hang2_info{
    margin-left: 10px;
    margin-top: 0px;

    display: block;
    font-size: 15px;
    width: 300px;
    color: #555555;


    float: left;
}

.workintroduct_p_class{
    margin-left: 2%;
    margin-top: 5px;

    display: block;
    width: 95%;
    height: 35px;
    font-size: 14px;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
}

.work_hang4_div_class{
    margin-left: 2%;

    width: 98%;
    height: 20px;
}

.newchapter_a_class{
    display: block;
    height: 20px;
    font-size: 15px;
    max-width: 200px;
    color: #060b99;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    float: left;
}

.newchapter_b_class{
    display: block;
    height: 20px;
    font-size: 15px;
    max-width: 250px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    float: left;
}

.newchapter_a_class:hover {
    color: #ff0000;
    font-weight: bold;
}

.newchapter_time_a_class{
    margin-left: 30px;
    margin-top: 2px;

    display: block;
    height: 20px;
    font-size: 13px;

    float: left;
}

.rankingWorkButton_div_class{
    width: 25%;
    height: 150px;
    float: left;
}


.num_a_class{
    margin-top: 11px;

    display: block;
    width: 70%;
    height: 20px;
    /*组件位于右边*/
    text-align: right;
    font-size: 15px;

    float: left;
}

.num_a2_class{
    margin-top: 9px;

    display: block;
    width: 29%;
    height: 20px;
    /*组件位于右边*/
    text-align: right;
    font-size: 16px;

    float: left;
}

.addto_button_class{
    margin-top: 85px;
    margin-left: 35px;
}

.divhr_class{
    position: relative;
    top: 160px;

    width: 100%;
    height: 1px;
    background: #888888;
}



/*右侧*/
.personality_right_class{
    margin-left: 15px;
    margin-top: 10px;

    width: 210px;
    height: 600px;
    background: #f5f3f1;

    float: left;
}

.personality_rightp_class{
    margin-top: 10px;
    margin-left: 31%;

    display: block;
    width: 40%;
    height: 10px;
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.personality_right_div_class{
    margin-top: 5px;

    width: 100%;
    height: 40px;
    /*background: #ff0000;*/
}

.main_label_class{
    margin-left: 5px;
    margin-top: 5px;

    display: block;
    width: 30%;
    color: #444444;

    float: left;
}

.work_name_class{
    margin-top: 5px;
    margin-left: 3%;

    display: block;
    width: 63%;
    /*超出本分强制不换行*/
    white-space:nowrap;
    /*超出部分隐藏*/
    overflow: hidden;
    text-overflow: ellipsis;
    /*去掉链接下划线*/
    text-decoration:none;
    color: #444444;

    float: left;
}

.work_name_class:hover{
    color:red;
    font-weight: bold;
}

