
#readNovel_id{
    margin-left: -10px;
    margin-top: -10px;

    width: 110%;
    height: auto;
}

/*上不导航栏*/

.novelDetails_top_div_class{
    height: 60px;
    width: 100%;
    background: rgba(255,255,255,0.3);
}

.novelDetails_top_div2_class{
    margin:auto;

    display:table;
    width: 900px;
    height: 100%;
}

.novelDetails_top_el_menu_class{
    background: rgba(255,255,255,0);
}

.userInfo_class{
    margin-left: 200px;
}

.shujia_class{
    margin-right:0px;
}


.shujia_img_class{
    position: relative;
    top:20px;

    width: 18px;
    height: 18px;

    float: left;
}

.shaohualogo_p_class{
    margin-left: 10px;
    position: relative;
    top:-15px;

    float: left;
}


/*主题内容*/
.chapter_info_div_class{
    display:table;
    margin:auto;
    margin-top: 20px;

    width: 900px;
    height: auto;
}

/*左侧选项框*/
.chapter_list_div_class{
    height: 355px;
    width:70px;
    border-style: solid;
    border-width: 1px;
    border-color: #888888;

    float: left;
}

.list_div_class{
    width: 100%;
    height: 70px;
    background: rgba(255,255,255,0.3);
    cursor:pointer;
}

.el_button_list{
    background: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,0);
}

.el_button_img_my{
    position: relative;
    top: 0px;
    left: 5px;

    display: block;
    width: 20px;
    height: 20px;
}

.el_button_p_my{
    position: relative;
    top: -5px;

    color: black;
    display: block;
    width: 100%;
}

.hrdiv_class{
    height: 1px;
    width: 100%;
    background: #888888;
}


/*右侧小说内容*/
.chapter_info_rightdiv_class{
    margin-left: 20px;

    width: 800px;
    height: auto;
    background: rgba(255,255,255,0.3);
    border-style: solid;
    border-width: 1px;
    border-color: #888888;

    float: left;
}

.chapter_info1_class{
    margin-left: 9%;
    margin-top: 20px;

    background: rgba(255,255,255,0);
    width: 82%;
    height: auto;
}

.work_name_p_class{
    font-size: 25px;
    display: block;
    width: 100%;
    background: rgba(255,255,255,0);
}

.work_info_class{
    margin-top: -5px;

    width: 100%;
    height: 30px;
    background: rgba(255,255,255,0);
}

.work_info_img1_class{
    margin-left: 20px;
    margin-top: 5px;

    width: 18px;
    height: 18px;

    float: left;
}

.work_info_p1_class{
    margin-left: 10px;
    margin-top: 5px;

    font-size: 15px;

    float: left;
}

.hrdiv_class2{
    margin-top: 20px;

    width: 100%;
    height: 1px;
    background: black;
}

.chapter_content_p_class{
    display: block;
    width: 100%;
    height: auto;
    background: rgba(255,255,255,0);
    line-height: 2em;
}


/*目录按钮弹框中设置*/

/*提示文字*/
.tip_div_class{
    width: 100%;
    height: 40px;
}

.chpterCatalog_dialog_div_class{
    width: 100%;
    max-height: 600px;
    overflow-y:auto;
}

.chpterCatalog_div1_class{
    width: 100%;
    height: auto;
}

.chapterCataloginfo_div_class{
    width: 90%;
    height: 30px;

    float: left;
}

.chapterCataloginfo_a_class{
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.chapter_charge_div_class{
    width:10% ;
    height: 30px;

    float: left;
}

.chapter_charge_img_class{
    width: 20px;
    height: 20px;

    float: left;
}

/*优化滚动条*/
.chpterCatalog_dialog_div_class::-webkit-scrollbar {
    width: 8px;
}

.chpterCatalog_dialog_div_class::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}

.chpterCatalog_dialog_div_class::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}



/*阅读设置*/
.setting_theme_div_class{
    width: 100%;
    height: 70px;
}

.setting_p_class{
    display: block;
    width: 10%;
    height: 30px;

    float: left;
}

.setting_theme_button_class{
    margin-left: 20px;

    width: 50px;
    height: 50px;
    /*设置为圆角*/
    border-radius: 50% 50% 50% 50%;
    border:1px solid #8e8e8e;
}

#setting_theme_button_1{
    background: #f6f1e7;
}

#setting_theme_button_2{
    background: #f8f1da;
}
#setting_theme_button_3{
    background: #e1ede1;
}
#setting_theme_button_4{
    background: #e1eef2;
}
#setting_theme_button_5{
    background: #f5e4e4;
}
#setting_theme_button_6{
    background: #e9e9e9;
}
#setting_theme_button_7{
    background: #181a1b;
}

.setting_font_type_div_class{
    width: 100%;
    height: 70px;
}

.setting_font_type_button_class{
    margin-left: 20px;

    border:1px solid #8e8e8e;
    background: #e5e5e5;
}

.setting_font_size_div_class{
    width: 100%;
    height: 70px;
    /*background: #13ce66;*/
}

.setting_font_size_div2_class{
    width: 350px;
    height: 50px;
    background: #e5e5e5;

    margin-left:80px;

}

.setting_fenge_class{
    margin-left: 12px;

    display: block;
    width: 12px;
    height: 50px;
    background: rgba(255,255,255,0);

    float: left;
}

.setting_font_size_button_class{
    width: 100px;
    height: 50px;
    background:  rgba(255,255,255,0);
    border:none;
    font-size: 24px;

    float: left;
}


/*底部按钮*/
.bottom_div_class{
    margin-top: 20px;

    width: 100%;
    height: 60px;
}

.bottom_button_class{
    margin-left: 30%;
}

