
.rankingWorksInfo_div_class{
    margin-left: 15px;

    width: 98%;
    height: 200px;
    background: #ffffff;
}
.rankingWorksInfo_div1_class{
    width: 100%;
    height: 140px;
}

.rankingWorksInfo_div2_class{
    margin-top: 25px;

    width: 100%;
    height: 1px;
    background: #999999;
}

.rankingWorkcover_div_class{
    height: 140px;
    width:105px;
    background: #666666;

    float: left;
}
.rankingWorkcover_p_class{
    margin-top: 25px;
    position: relative;
    top: -169px;

    display: block;
    width: 20px;
    height: 20px;
    /*background: #ff0202;*/
    /*组件位于中间*/
    text-align: center;
    color: #ffffff;
    z-index:999;
}

.rankingWorkcover_img_class{
    height: 140px;
    width:105px;
    background: red;
    z-index:-1;
}

.rankingotherWork_div_class{
    width: 557px;
    height: 150px;
    background: #ffffff;

    float: left;
}

.work_name_a_class{
    margin-left: 2%;
    margin-top: 5px;

    display: block;
    width: 98%;
    height: 25px;
    font-size: 23px;
    text-decoration: none;
    color: #444444;
}

.work_name_a_class:hover{
    color: red;
    font-weight: bold;
}

.work_hang2_div_class{
    margin-top: 23px;
    margin-left: 2%;

    width: 98%;
    height: 25px;
}

.rankingme_img_class{
    display: block;
    width: 23px;
    height: 23px;

    float: left;
}

.username_a_class{
    margin-left: 13px;

    display: block;
    height: 20px;
    font-size: 17px;
    text-decoration: none;

    float: left;
}

.otherworkInfo_hang2_info{
    margin-left:1px;
    margin-top: 0px;

    display: block;
    font-size: 17px;
    width: 300px;
    color: #666666;

    float: left;
}

.workintroduct_p_class{
    margin-left: 2%;
    margin-top: 20px;

    display: block;
    width: 95%;
    height: 43px;
    font-size: 15px;
    color: #454545;
    background: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.work_hang4_div_class{
    width: 98%;
    margin-left: 2%;
    height: 20px;
    background: #ffffff;
}

.newchapter_a_class{
    display: block;
    height: 20px;
    font-size: 15px;
    max-width: 250px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    float: left;
}

.newchapter_time_a_class{
    margin-left: 30px;
    margin-top: 2px;

    display: block;
    height: 20px;
    font-size: 13px;

    float: left;
}

.rankingWorkButton_div_class{
    width: 200px;
    height: 150px;
    background: #ffffff;

    float: left;
}


.num_a_class{
    margin-top: 10px;

    display: block;
    width: 70%;
    height: 20px;
    /*组件位于右边*/
    text-align: right;
    background: #ffffff;
    font-size: 15px;

    float: left;
}

.num_a2_class{
    margin-top: 9px;

    display: block;
    width: 24%;
    height: 20px;
    /*组件位于右边*/
    text-align: right;
    background: #ffffff;
    font-size: 15px;

    float: left;
}

.addto_button_class{
    margin-top: 75px;
    margin-left: 25px;
}

.fenyediv{
    margin-left: 200px;
    margin-top: 50px;

    display: block;
    width: 400px;

    float: left;
}

.bootom_div_class{
    height:100px;
    width: 100%;
    /*background: red;*/
}