/*用户主界面顶部导航样式*/
.userMainTop_class{
    /*位置*/
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    /*样式*/
    height: 32px;
    background: #524d4d;
    /*对下个影响*/
    float: left;
}

.user_navigation_bar{
    margin:auto;
    display:table;

    width: 1105px;
    list-style-type: none;
}

.workclassification_class{
    width: 184px;
    height: auto;
    background: #13ce66;

    float: left;
}


.el-button-my{
    background: #524d4d;
    border-color: #524d4d;

    color: #ffffff;
}


/*第二行*/
.dierhang{
    margin: auto;
    display:table;

    width: 1070px;
}

/*用户信息*/
.userInfo-class{
    margin: auto;
    display:table;
    position: fixed;
    top:32px;

    width: 1070px;
}

.userInfo-p-class{
    font-size: 12px;
    color: #999999;
    /*去掉链接下划线*/
    text-decoration:none;
}

#userout-p-id{
    margin-left: 130px;
}

#haveuser-p-id{
    margin-left: 150px;
}


/*其他*/
.imglogo{
    width: 90px;
    height: 40px;
    margin-top: 50px;
}

.el-select-my{
    position: relative;
    top: -10px;
    margin-left: 290px;

    border-color: black;
}

.el-selectbutton-my{
    position: relative;
    top: -10px;
    left: -5px;
}

.el-shujia-my{
    position: relative;
    left: 272px;
    top:-10px;

    height: 60px;
}


