#myselfInfo{

    background: #ffffff;
    width: 875px;

    height: calc(100vh);
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 30px;
    float: left;

    /*/*j渐变色阴影*/
    box-shadow: 5px 5px 10px #b2d1d4;

    /*设置为圆角*/
    border-radius:5px 5px 5px 5px;
}


#myselfInfo-p-id{
    margin-left: 10px;
    margin-top: 10px;
    /*font-size: 10px;*/
    font-weight: bold;
    font-size: 15px;
    color: #494949;
}

#myselfInfo-hr-id{
    width: 700px;
    margin-left: 10px;
    color: #f3f3f3;
}


/*个人信息*/

.one-div-class{
    width: 100%;
    height: 100px;
}
.head_portrait-class{

    width: 70px;
    height: 70px;
    /*设置为圆角*/
    border-radius: 50% 50% 50% 50%;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}

.user_name-class{

    margin-top: 40px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.writer-Grade-class{
    margin-top: 43px;
    margin-left: 20px;
    font-size: 15px;
    /*font-weight: bold;*/
    float: left;
    color: #3a8ee6;
}

.hid-button-class{
    border-color:#ffffff;
    width: 1px;
    height: 1px;
}


.writer-Grade-img-class{

    margin-top: 43px;
    margin-left: 5px;
    width: 20px;
    height: 20px;

    /*设置按钮为小手*/
    cursor:pointer;
    float: left;


}


.work_word_num-div-class{
    float: left;
    margin-left: 200px;
    margin-top: 5px;
}

.work_vote_num-class{
    float: left;
    margin-left: 50px;
    margin-top: 5px;
}
/*累积文字形式*/
.workInfoStatistics-class{
    font-size: 17px;
    color: #555555;
    /*font-family: "\5E7C\5706";*/
    font-family: "\9ED1\4F53";
    font-weight:500;

    position: relative;
    top:-10px;

}

.output_num-class{

    font-size: 20px;
    color: #000000;
    /*font-family: "\5E7C\5706";*/
    font-family: "\9ED1\4F53";
    font-weight:500;

}


/*第二行*/
/*.two-div-class{*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    background: #e5e5e5;*/
/*}*/

/*.workInfoStatistics-class{*/

/*    margin-left: 140px;*/
/*    font-size: 15px;*/
/*    color: #777777;*/
/*    font-weight: bold;*/
/*}*/