body{
    margin-top: 0px;

    background: #f7f6f5;
}

/****************************
*顶部导航栏
****************************/

/*顶部导航栏-div*/
.authorMainTop_div_class {
    height: 75px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;

    /*y阴影*/
    box-shadow: 0px 5px 10px #b2d1d4;
    background: #FFFFFF;

    float: left;
}

.authorMainTopCenter_div_class{
    margin:auto;
    display:table;

    width: 1100px;
    height: 75px;
    /*background: #cf364d;*/
}

.shaohualogo_div_class{
    margin-left: 20px;

    width: auto;
    height: 75px;

    float: left;
}

.shaohualogo_img_class{
    margin-top: 15px;

    width: 140px;
    height: auto;
}

.authorMainTopUserInfo_div_class{
    margin-left: 300px;

    height: 75px;
    width: 150px;
    /*background: #cf9236;*/

    float: left;
}

.authorMainTopUserInfo_p_class{
    margin-top: 30px;

    display: block;
    height: 20px;
    width: 100%;
}

.authorMainTopButton_div_class{
    /*margin-left: 435px;*/
    margin-left: 280px;

    height: 75px;
    width: 30px;
    /*background: #cf9236;*/

    float: left;
}

.authorMainTop_button_class{
    margin-top: 27px;

    height: 27px;
    width: 27px;
    cursor:pointer;
}

.authorMainTopButton_div2_class{
    margin-left: 25px;

    float: left;
}
.authorMainTopButton_div3_class{
    margin-left: 25px;

    float: left;
}

.authorMainTopButton_div3_class:hover #authorMainTop_hidediv_id{
    display: block;
}
#signOut_id:hover{
    font-weight: bold;
    color: #ff0000
}

.authorMainTop_adiv1_class{
    padding: 8px 10px;

    font-size: 13px;
    display: block;
}

.authorMainTop_adiv2_class{
    padding: 12px 16px;

    color: black;
    text-decoration: none;
    display: block;
}

.authorMainTop_hidediv_class{
    position: absolute;

    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*设置为圆角*/
    border-radius:5px 5px 5px 5px;
}

/*******
*设置下拉表单-网址：https://www.runoob.com/try/try.php?filename=trycss_dropdown_button
*******/
#workeme{
    padding-left: 1025px;
}


.dropdown:hover #workeMe-dropdown{
    display: block;
}

#workeMe-dropdown a:hover{
    background-color: #f1f1f1
}

#workeMe-dropdown a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;


}

#workeMe-dropdown{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    /*设置为圆角*/
    border-radius:5px 5px 5px 5px;
}


/************
左侧导航栏和主体
*************/

.authorMain_class{
    margin:auto;
    display:table;

    width: 1300px;
    height: calc(100vh);
    /*background: #b48d66;*/
}


.authorMainLeft_div_class{
    margin-left: 130px;
    margin-top: 100px;

    height: 350px;
    width: 150px;
    background: #ffffff;
    /*!*j渐变色阴影*!*/
    box-shadow: 5px 5px 10px #b2d1d4;
    /*设置为圆角*/
    border-radius:5px 5px 5px 5px;

    float: left;
}

.authorMainLeft_ul_class{
    margin-left: -15px;

    list-style-type: none;
    width: 180px;
}

.authorMainLeft_li_class{
    padding-top: 30px;
    padding-left: -15px;
}

#worksBean{
    padding-top: 10px;
    padding-left: -20px;
}

.authorMainLeft_img_class{
    /*设置图片大小*/
    width: 25px;
    height: auto;
}
.authorMainLeft_a_class{
    padding-left:10px;
    /*相对位置*/
    position: relative;
    top:-6px;

    font-size: 15px;
    color: #5e5e5e;
    text-decoration: none;
}

.authorMainLeft_a_class:hover{
    color: red;
    font-weight: bold;
}






