#worksMangagementp_id{
    color: #8cc5ff;
}
#worksMangagementp_id:hover{
    color: red;

}


#worksMangagenmentInfo_id{
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 30px;

    background: #ffffff;
    width: 875px;
    min-height: calc(100vh);
    /*渐变色阴影*/
    box-shadow: 5px 5px 10px #b2d1d4;
    /*设置为圆角*/
    border-radius:5px 5px 5px 5px;

    float: left;
}

.top_div_class{
    width: 100%;
    height: 40px;

}

#myselfInfo_p_id{
    margin-left: 10px;
    margin-top: 10px;

    display: block;
    width: 100px;
    height: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #494949;
    float: left;
}

.img_class{
    margin-left: 610px;
    margin-top: 10px;

    width: 25px;
    height: 25px;
    float: left;
}

#addworkInfo_id{
    margin-left: 10px;
    margin-top: 10px;

    display: block;
    width: 100px;
    height: 30px;
    color: #0084fd;
    font-weight: bold;
    font-size: 17px;
    text-decoration:none;

    float: left;
}

#addworkInfo_id:hover{
    color: red;
}

.divhr_class{
    margin-left: 10px;

    height: 1px;
    width: 830px;
    background: #656565;
}

#workMngemnethr_id{
    margin-left: 10px;

    width: 700px;
    color: #f3f3f3;
}


/*定义每个作品*/
.worksInfoul_class{
    list-style-type: none;
}

.work_cover_class{
    width: 100px;
    height: 130px;
    background: #5e5e5e;
}

.work_name_class {
    padding-left: 20px;
    position: relative;
    top: -100px;
    font-size: 25px;

    color: black;
}

#gotowork1{
    position: relative;
    left: 550px;
    top:-40px;
}

#gotowork2{
    position: relative;
    left: 415px;
    top:-90px;
}

#gotowork3{
    position: relative;
    left: 280px;
    top:-140px;
}