<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--配置扫描,只处理扫描service和dao，controller不需要Spring-->
    <!--    <bean id="accountService" class="com.threebaseguest.service.impl.AccountServiceImpl"></bean>-->
    <context:component-scan base-package="com.shaohuashuwu">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>






    <!--    spring整合myBatis框架-->
    <!--    配置连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://123.57.61.165:3306/testdb?characterEncoding=UTF-8"/>
        <property name="user" value="sanjianke"/>
        <property name="password" value="123456.db"/>
    </bean>

    <!--    配置SqlSessionFactory工厂-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!--    配置AccountDao接口所在的包-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.shaohuashuwu.dao"/>
    </bean>






    <!--   配置spring框架声明事务管理 -->
    <!--    配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--    配置事务通知-->
    <!--
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="find" read-only="true"/>
            <tx:method name="*" isolation="DEFAULT"/>
        </tx:attributes>
    </tx:advice> -->
    <!--    配置AOP增强-->
    <!--
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.shaohuashuwu.service.impl.*ServiceImpl.*(..))"/>
    </aop:config>
    -->
    <!--开启spring对注解事务的支持-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>


<!--    阿里云oss-->
    <bean id="ossClient" class="com.aliyun.oss.OSSClient">
        <constructor-arg index="0" value="oss-cn-beijing.aliyuncs.com"></constructor-arg>
        <constructor-arg index="1" value="LTAI4GHgm8Qv5PCwSGBMNMYT"></constructor-arg>
        <constructor-arg index="2" value="pMKax279ohKSOJEJoJTcNGDZCr6eA6"></constructor-arg>

    </bean>

    <!--文件上传-->
<!--    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
<!--        <property name="maxUploadSize" value="104857600"/>-->
<!--        <property name="defaultEncoding" value="UTF-8"></property>-->
<!--    </bean>-->

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
    </bean>




        </beans>