<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改管理员密码</title>
    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/workbeanchFragment.css">
    <link rel="stylesheet" href="../css/administratorsTopNavigationFragment.css">
    <link rel="stylesheet" href="../css/administratorsMainInfoLeftFragment.css">
    <link rel="stylesheet" href="../css/theme-chalk.css">
    <link rel="stylesheet" href="../css/changeAdminPassword.css">

</head>
<body>
<div id="app">
    <!--顶部导航-->
    <div class="administrators_topNavigation_div_class" id="administrators_topNavigation_div_id">
        <div class="topNavigation_content_div_class">
            <div class="administrators_topNavigation_subdiv_class">
                <img class="shaohualogo_img_class" src="../images/SHAOHUALOGO.png">
            </div>
            <div class="administrators_topNavigation_subdiv_class" id="topintroduce_div_id">
                <p class="topintroduce_p_class">管理员·专区</p>
            </div>

            <div class="administrators_topNavigation_subdiv_class" id="changepassword_div_id">
                <el-tooltip class="item" effect="dark" content="密码修改" placement="top-start">
                    <img class="changepassword_img_class" id="changepassword_img_id" src="../images/password-32.png" href="../pages/changeAdminPasswordInterface.html">
                </el-tooltip>
            </div>
            <div class="administrators_topNavigation_subdiv_class" id="help_div_id">
                <el-tooltip class="item" effect="dark" content="帮助" placement="top-start">
                    <img class="changepassword_img_class" id="help_img_id" src="../images/authorhelp-32.png" @click="writerGradehelp()">
                </el-tooltip>
            </div>
            <div class="administrators_topNavigation_subdiv_class" id="administratorsme_div_id">
                <el-tooltip class="item" effect="dark" :content="administrator" placement="top-start">
                    <img class="changepassword_img_class" id="cadministratorsme_img_id" src="../images/authorme-36.png" @click="writerGradehelp()">
                </el-tooltip>
            </div>
        </div>
    </div>

    <div class="administrators_mainInfo_div_class">
        <!--左侧导航-->
        <div class="administrators_mainInfoLeft_div_class">
            <div class="administrators_mainInfoLeft_Listdiv_class">
                <img class="administrators_mainInfoLeft_img_class"src="../images/password-32.png">
                <a class="administrators_mainInfoLeft_p_class" id="administrators_mainInfoLeft_p1_id" href="../pages/handlingReportInfoInterface.html">处理举报信息</a>
            </div>
            <div class="administrators_mainInfoLeft_Listdiv_class">
                <img class="administrators_mainInfoLeft_img_class"src="../images/password-32.png">
                <a class="administrators_mainInfoLeft_p_class" id="administrators_mainInfoLeft_p2_id" href="../pages/changeTheProcessingResultInterface.html">更改处理结果</a>
            </div>
            <div class="administrators_mainInfoLeft_Listdiv_class">
                <img class="administrators_mainInfoLeft_img_class"src="../images/password-32.png">
                <a class="administrators_mainInfoLeft_p_class" id="administrators_mainInfoLeft_p3_id" href="../pages/changeAdminPasswordInterface.html">更改密码</a>
            </div>
        </div>
        <!--主要内容-->
        <div class="administrators_mainInfoRight_div_class">
            <p class="administrators_mainInfoRight_Listp_class">处理举报信息</p>
            <div class="administrators_mainInfoRight_divhr_class"></div>

            <div id="changeAdminPassword">
                <div class="body">
                    <div class="body_content">
                        <div class="content_from">
                            <div class="content_from_row" >
                                <div class="from_row_label">
                                    <label>原密码：</label>
                                </div>
                                <div class="from_row_input">
                                    <el-input placeholder="请输入原密码" v-model="oldPass" show-password maxlength="15" show-word-limit></el-input>
                                </div>
                                <div class="check_result">

                                </div>
                                <div class="input_tip">
                                    <label>请先输入"{{adminId}}"的原密码</label>
                                </div>
                            </div>
                            <div class="content_from_row">
                                <div class="from_row_label">
                                    <label>新密码：</label>
                                </div>
                                <div class="from_row_input">
                                    <el-input placeholder="请输入新密码" v-model="pass" show-password maxlength="15" show-word-limit></el-input>
                                </div>
                                <div class="check_result">

                                </div>
                                <div class="input_tip">
                                    <label>必须包含大小写字母和数字的组合，不能使用特殊字符，长度在 8-10 之间</label>
                                </div>
                            </div>
                            <div class="content_from_row">
                                <div class="from_row_label">
                                    <label>密码确认：</label>
                                </div>
                                <div class="from_row_input">
                                    <el-input placeholder="请再次输入新密码" v-model="checkPass" show-password maxlength="15" show-word-limit></el-input>
                                </div>
                                <div class="check_result">

                                </div>
                                <div class="input_tip">
                                    <label>确认输入的密码</label>
                                </div>
                            </div>
                            <div class="from_operate_row">
                                <el-button type="primary" @click="submitForm">提交</el-button>
                                <el-button @click="resetForm">重置</el-button>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="footing">-->

<!--                </div>-->
            </div>
        </div>

        <div class="bottom_div_class">
        </div>
    </div>


</div>

<script src="../js/axios.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/elementui.js"></script>
<script src="../js/index.js"></script>
<script src="../js/administratorsTopNavigationFragment.js"></script>
<script src="../js/changeAdminPassword.js"></script>
</body>
</html>