<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改管理员密码</title>
    <link rel="stylesheet" href="../css/changeAdminPassword.css">
    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/theme-chalk.css">

</head>
<body>
<div id="changeAdminPassword">

    <div class="top">
        <div class="top_img"></div>
        <div class="top_content">
            <div class="top_tips"></div>
            <div class="top_menu">
                <div style="margin-top: 5px;text-align: center;font-size: larger;font-weight: bolder;float: left;">
                    更改管理员密码
                </div>
            </div>
            <div class="top_data">

            </div>
        </div>
    </div>
    <div class="body_left">

    </div>
    <div class="body">
        <div class="body_content">
            <div class="content_title">
                <label>{{title}}</label><br>
                <el-button type="text" icon="el-icon-back" @click="backAdminHomePage">返回</el-button>
            </div>
            <div class="content_from">
                <div class="content_from_row" >
                    <div class="from_row_label">
                        <label>原密码：</label>
                    </div>
                    <div class="from_row_input">
                        <el-input placeholder="请输入原密码" v-model="oldPass" show-password maxlength="15" show-word-limit></el-input>
                    </div>
                    <div class="check_result">

                    </div>
                    <div class="input_tip">
                        <label>请先输入"{{adminId}}"的原密码</label>
                    </div>
                </div>
                <div class="content_from_row">
                    <div class="from_row_label">
                        <label>新密码：</label>
                    </div>
                    <div class="from_row_input">
                        <el-input placeholder="请输入新密码" v-model="pass" show-password maxlength="15" show-word-limit></el-input>
                    </div>
                    <div class="check_result">

                    </div>
                    <div class="input_tip">
                        <label>必须包含大小写字母和数字的组合，不能使用特殊字符，长度在 8-10 之间</label>
                    </div>
                </div>
                <div class="content_from_row">
                    <div class="from_row_label">
                        <label>密码确认：</label>
                    </div>
                    <div class="from_row_input">
                        <el-input placeholder="请再次输入新密码" v-model="checkPass" show-password maxlength="15" show-word-limit></el-input>
                    </div>
                    <div class="check_result">

                    </div>
                    <div class="input_tip">
                        <label>确认输入的密码</label>
                    </div>
                </div>
                <div class="from_operate_row">
                    <el-button type="primary" @click="submitForm">提交</el-button>
                    <el-button @click="resetForm">重置</el-button>
                </div>

            </div>
        </div>

    </div>
    <div class="footing">


    </div>
</div>
<script src="../js/axios.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/elementui.js"></script>
<script src="../js/changeAdminPassword.js"></script>
</body>
</html>