<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户主界面</title>
    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/userMainInterfaceFragment.css">
    <link rel="stylesheet" href="../css/keywordSearchResultInterface.css">

</head>
<body>
<div>


    <div id="app">
        <div class="userMainTop_class">

            <ul class="user_navigation_bar">
                <li class="workclassification_class" id="user_main_li">
                    <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" >首      页</el-button>
                </li>
                <li class="workclassification_class" id="allwork_li">
                    <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" >全 部 作 品</el-button>
                </li>
                <li class="workclassification_class" id="paihang_li">
                    <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" >排      行</el-button>
                </li>
                <li class="workclassification_class" id="tuijian_li">
                    <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" >推      荐</el-button>
                </li>
                <li class="workclassification_class" id="chengweizuozhe_li">
                    <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" >成 为 作 者</el-button>
                </li>
                <li class="workclassification_class" id="gerenzhongxin_li">
                    <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" >个 人 中 心</el-button>
                </li>
            </ul>
        </div>
        <div class="dierhang">
            <div class="userInfo-class">
                <a class="userInfo-p-class" id="username-p-id" href="http://www.w3school.com.cn">您好，昵称 </a>
                <a class="userInfo-p-class" id="userout-p-id" href="http://www.w3school.com.cn">退出</a>
                <a class="userInfo-p-class" id="haveuser-p-id" href="http://www.w3school.com.cn">网站注册人数5人</a>
            </div>
            <img src="../images/SHAOHUALOGO.png" class="imglogo">

            <el-input class="el-select-my" v-model="input" placeholder="请输入内容"  size="small" style="width: 300px" style="height: 30px"></el-input>
            <el-button class="el-selectbutton-my" type="danger" size="small" icon="el-icon-search">搜索</el-button>


            <el-button class="el-shujia-my"  type="info" plain size="small" >
                <img src="../images/shujia-16.png">
                <p>
                    书架
                </p>
            </el-button>
        </div>
    </div>

    <div class="selectresult-class" id="selectresult-id">

        <div class="vole-tips-class" id="vole-tips-id">
            <p class="voletips-p-class" id="allWorksSelected-p-id">已选</p>
            <el-button class="selected-button-class" id="mainSelected-button-id" type="danger" size="mini" style="width: 90px" @click="mainSelected()">{{selectedtips.selected_main_label}<i class="el-icon-close el-icon--right"></i></el-button>
            <el-button class="selected-button-class" id="stateSelected-button-id" type="danger" size="mini" style="width: 90px" @click="stateSelected()">{{selectedtips.selected_serial_state}<i class="el-icon-close el-icon--right"></i></el-button>

            <hr>
            <p class="voletips-p-class" id=difvole-p-id" >分类</p>
            <el-button class="mainvole-button-class" type="danger"  size="mini" style="width: 60px" v-for="labels in labelList" @click="mianwork(labels)">{{labels}</el-button>
            <hr>
            <p class="voletips-p-class" id="state-p-id">状态</p>
            <el-button class="mainvole-button-class" type="danger"  size="mini" style="width: 60px" v-for="serialstate in serialstateList" @click="serialstatework(serialstate)">{{serialstate}</el-button>


        </div>
        <div class="selectworkInfo-class" id="selectworkInfo-id">

        </div>

    </div>





</div>
</body>

<script src="../js/vue.js"></script>
<script src="../js/elementui.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/userMainInterface.js"></script>
<script src="../js/keywordSearchResultInterface.js"></script>




</html>