<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息中心</title>
    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/messageCenter.css">
</head>
<body>
    <div id="messageCenter">
        <div class="top">
            <div class="top_img"></div>
            <div class="top_content">
                <div class="top_tips">{{topTips}}</div>
                <div class="top_menu">
                    <el-menu
                            :default-active="activeIndex"
                            class="el-menu-demo"
                            mode="horizontal"
                            @select="handleSelect"
                            background-color="#545c64"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                        <el-menu-item index="1"><i class="el-icon-location-outline"></i>我的首页</el-menu-item>
                        <el-menu-item index="2"><i class="el-icon-reading"></i>我的书架</el-menu-item>
                        <el-menu-item index="3"><i class="el-icon-message"></i>消息中心</el-menu-item>
                        <el-menu-item index="4"><i class="el-icon-wallet"></i>个人账户</el-menu-item>
                    </el-menu>
                </div>
                <div class="top_data">
                    <br/>
                    {{user_name}}<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<el-button type="text">退出</el-button>
                </div>
            </div>
        </div>
        <div class="body_left">

        </div>
        <div class="body">
            <div class="body_header">
                <div class="body_img">
                    <div class="body_img_img">
                        <img id="avatar" :src="imageURL_header+user_avatar+imageURL_suffix">
                    </div>
                    <div class="body_img_content">

                        <label>{{user_name}}<br/>&nbsp;&nbsp;&nbsp;<span>系统消息： </span>{{totals.total1}}&nbsp;&nbsp;
                            <span>更新提醒： </span>{{totals.total2}}&nbsp;&nbsp;<span>其它私信： </span>{{totals.total3}}&nbsp;&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="body_center">
                <el-tabs type="border-card">
                    <el-tab-pane label="系统消息">
                        <div class="operate_header">

                            <span id="op_span2">
                                <el-badge :value="totals.total1" class="item">
                                    <el-button size="mini" :disabled="button_disabled">全部已读</el-button>
                                </el-badge>
                            </span>
                            <span id="op_span1">
                                <el-badge :value="totals.total1" class="item" type="primary">
                                    <el-button size="mini" :disabled="button_disabled">清空</el-button>
                                </el-badge>
                            </span>
                        </div>
                        <div class="message" v-for="(message,index) in displayData.systemMessageData">
                            <div class="tip_img_url">
                                <img :src="imageURL_header+user.head_portrait+imageURL_suffix">
                            </div>
                            <div class="message_avatar">
                                <img :src="imageURL_header+user.head_portrait+imageURL_suffix">
                            </div>
                            <div class="message_content">
                                {{user.user_name}}
                            </div>
                            <div class="message_operate">
                                <el-button type="danger" plain @click="chat(message.user_id)">私信</el-button>
                            </div>
                        </div>
                        <div class="noDataTips" :style="'display:'+displayDivs.displayDiv1+';'">
                            <!--                        <p>hello world</p>-->
                        </div>
                        <div class="message_pagination">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange_each"
                                    :current-page.sync="currentPage"
                                    :page-size="pageSize"
                                    layout="prev, pager, next, jumper"
                                    :total="totals.total1">
                            </el-pagination>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="更新提醒">
                        <div class="message" v-for="(message,index) in displayData.systemMessageData">
                            <div class="message_avatar">
                                <img :src="imageURL_header+user.head_portrait+imageURL_suffix">
                            </div>
                            <div class="message_content">
                                {{user.user_name}}
                            </div>
                            <div class="message_operate">
                                <el-button type="danger" plain @click="cancelAttention(user.user_id,user.user_name,index)">取关</el-button>
                            </div>
                        </div>
                        <div class="noDataTips" :style="'display:'+displayDivs.displayDiv2+';'"></div>
                        <div class="message_pagination">
                            <!--
                                size-change:pageSize 改变时会触发,参数：每页条数
                                current-change:currentPage 改变时会触发
                                current-page.sync:当前页数，支持 .sync 修饰符
                                page-size:每页显示条目个数，支持 .sync 修饰符
                                layout:组件布局，子组件名用逗号分隔 String：'prev, pager, next, jumper, ->, total'
                                total:总条目数
                            -->
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange_attention"
                                    :current-page.sync="currentPage"
                                    :page-size="pageSize"
                                    layout="prev, pager, next, jumper"
                                    :total="totals.total2">
                            </el-pagination>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="私信">
                        <div class="message" v-for="(message,index) in displayData.systemMessageData">
                            <div class="message_avatar">
                                <!-- <img :src="'../images/avatar/'+user.head_portrait+'.jpg'">-->
                                <img :src="imageURL_header+user.head_portrait+imageURL_suffix">
                            </div>
                            <div class="message_content">
                                {{user.user_name}}
                            </div>
                            <div class="message_operate" style="display: none">
                                <el-button type="danger" plain @click="addAttention(user.user_id)">查看</el-button>
                            </div>
                        </div>
                        <div class="noDataTips" :style="'display:'+displayDivs.displayDiv3+';'"></div>
                        <div class="message_pagination">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange_fans"
                                    :current-page.sync="currentPage"
                                    :page-size="pageSize"
                                    layout="prev, pager, next, jumper"
                                    :total="totals.total3">
                            </el-pagination>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </div>
            <div class="body_content">

            </div>

        </div>
        <div class="footing">


        </div>
    </div>

    <script src="../js/vue.js"></script>
    <script src="../js/elementui.js"></script>
    <script src="../js/axios.js"></script>
    <script src="../js/messageCenter.js"></script>
</body>
</html>