<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息中心</title>
    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/messageCenter.css">
</head>
<body>
    <div id="messageCenter">
        <div class="top">
            <div class="top_img"></div>
            <div class="top_content">
                <div class="top_tips">{{topTips}}</div>
                <div class="top_menu">
                    <el-menu
                            :default-active="activeIndex"
                            class="el-menu-demo"
                            mode="horizontal"
                            @select="handleSelect"
                            background-color="#545c64"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                        <el-menu-item index="1"><i class="el-icon-location-outline"></i>我的首页</el-menu-item>
                        <el-menu-item index="2"><i class="el-icon-reading"></i>我的书架</el-menu-item>
                        <el-menu-item index="3"><i class="el-icon-message"></i>消息中心</el-menu-item>
                        <el-menu-item index="4"><i class="el-icon-wallet"></i>个人账户</el-menu-item>
                    </el-menu>
                </div>
                <div class="top_data">
                    <br/>
                    {{user_name}}<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<el-button type="text">退出</el-button>
                </div>
            </div>
        </div>
        <div class="body_left">

        </div>
        <div class="body">
            <div class="body_header">
                <div class="body_img">
                    <div class="body_img_img">
                        <img id="avatar" :src="'../images/avatar/'+user_avatar+imageURL_suffix">
                    </div>
                    <div class="body_img_content">
                        <label>{{user_name}}<br/>&nbsp;&nbsp;&nbsp;<span>系统消息： </span>{{totals.total1}}&nbsp;&nbsp;
                            <span>更新提醒： </span>{{totals.total2}}&nbsp;&nbsp;<span>其它私信： </span>{{totals.total3}}&nbsp;&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="body_center">
                <el-tabs type="border-card">
                    <el-tab-pane label="系统消息">
                        <div class="operate_header">

                            <span class="op_span2">
                                <el-badge :value="tipTotals.tipTotal1" class="item">
                                    <el-button size="mini" :disabled="button_disabled" @click="readAllMessage(1)">全部已读</el-button>
                                </el-badge>
                            </span>
                            <span class="op_span1">
                                <el-badge :value="totals.total1" class="item" type="primary">
                                    <el-button size="mini" :disabled="button_disabled" @click="deleteAllMessage(1)">清空</el-button>
                                </el-badge>
                            </span>
                        </div>
                        <div class="message" v-for="(message,index) in displayData.systemMessageData">
                            <div class="tip_img" >
                                <!--  提示图片  -->
                                <img :src="imageURL_header+tip_img_url+imageURL_suffix" v-if="message.notice_tip==1">
                            </div>
                            <div class="message_avatar">
                                <img :src="imageURL_header+bell_img_url+imageURL_suffix">
                            </div>
                            <div class="message_content">
                                <!--  铃铛图片后面、删除按钮之前的元素-->
                                <div class="message_content_title">
                                    <label>{{message.notice_title}}</label>
                                </div>
                                <div class="message_content_content">
                                    <label>{{message.notice_content}}</label>
                                </div>
                                <div class="message_content_bottom">
                                    <div class="message_content_time">
                                        <label>{{message.send_time}}</label>
                                    </div>
                                    <div class="message_content_sendBy">
                                        <label>发送人:{{message.send_by_name}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="message_operate">
                                <el-button size="mini" type="text" icon="el-icon-delete" @click="deleteMessage(message.notice_id,1,message.notice_tip,index)">删除</el-button>
                                <!--                                    <el-button size="mini" type="danger" plain @click="chat(message.notice_id)">删除</el-button>-->
                                <el-popover
                                        placement="left-start"
                                        :title="'【'+message.notice_title+'】'"
                                        width="400"
                                        trigger="click"
                                        :content="'[内容]:'+message.notice_content">
                                    <el-button size="mini" type="text" slot="reference">全部内容</el-button>
                                </el-popover>
                            </div>

                        </div>
                        <div class="noDataTips" :style="'display:'+displayDivs.displayDiv1+';'">
                            <!--                        <p>hello world</p>-->
                        </div>
                        <div class="message_pagination">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange_each"
                                    :current-page.sync="currentPage"
                                    :page-size="pageSize"
                                    layout="prev, pager, next, jumper"
                                    :total="totals.total1">
                            </el-pagination>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="更新提醒">
                        <div class="operate_header">

                            <span class="op_span2">
                                <el-badge :value="tipTotals.tipTotal2" class="item">
                                    <el-button size="mini" :disabled="button_disabled" @click="readAllMessage(2)">全部已读</el-button>
                                </el-badge>
                            </span>
                            <span class="op_span1">
                                <el-badge :value="totals.total2" class="item" type="primary">
                                    <el-button size="mini" :disabled="button_disabled" @click="deleteAllMessage(2)">清空</el-button>
                                </el-badge>
                            </span>
                        </div>
                        <div class="message" v-for="(message,index) in displayData.updateMessageData">
                            <div class="tip_img" >
                                <!--  提示图片  -->
                                <img :src="imageURL_header+tip_img_url+imageURL_suffix" v-if="message.notice_tip==1">
                            </div>
                            <div class="message_avatar">
                                <img :src="imageURL_header+bell_img_url+imageURL_suffix">
                            </div>
                            <div class="message_content">
                                <!--  铃铛图片后面、删除按钮之前的元素-->
                                <div class="message_content_title">
                                    <label>{{message.notice_title}}</label>
                                </div>
                                <div class="message_content_content">
                                    <label>{{message.notice_content}}</label>
                                </div>
                                <div class="message_content_bottom">
                                    <div class="message_content_time">
                                        <label>{{message.send_time}}</label>
                                    </div>
                                    <div class="message_content_sendBy">
                                        <label>发送人:{{message.send_by_name}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="message_operate">
                                <el-button size="mini" type="text" icon="el-icon-delete" @click="deleteMessage(message.notice_id,2,message.notice_tip,index)">删除</el-button>
                                <!--                                    <el-button size="mini" type="danger" plain @click="chat(message.notice_id)">删除</el-button>-->
                                <el-popover
                                        placement="left-start"
                                        :title="'【'+message.notice_title+'】'"
                                        width="400"
                                        trigger="click"
                                        :content="'[内容]:'+message.notice_content">
                                    <el-button size="mini" type="text" slot="reference">全部内容</el-button>
                                </el-popover>
                            </div>

                        </div>
                        <div class="noDataTips" :style="'display:'+displayDivs.displayDiv1+';'">
                            <!--                        <p>hello world</p>-->
                        </div>
                        <div class="message_pagination">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange_each"
                                    :current-page.sync="currentPage"
                                    :page-size="pageSize"
                                    layout="prev, pager, next, jumper"
                                    :total="totals.total1">
                            </el-pagination>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="私信">
                        <div class="operate_header">

                            <span class="op_span2">
                                <el-badge :value="tipTotals.tipTotal3" class="item">
                                    <el-button size="mini" :disabled="button_disabled" @click="readAllMessage(3)">全部已读</el-button>
                                </el-badge>
                            </span>
                            <span class="op_span1">
                                <el-badge :value="totals.total3" class="item" type="primary">
                                    <el-button size="mini" :disabled="button_disabled" @click="deleteAllMessage(3)">清空</el-button>
                                </el-badge>
                            </span>
                        </div>
                        <div class="message" v-for="(message,index) in displayData.chatMessageData">
                            <div class="tip_img" >
                                <!--  提示图片  -->
                                <img :src="imageURL_header+tip_img_url+imageURL_suffix" v-if="message.notice_tip==1">
                            </div>
                            <div class="message_avatar">
                                <img :src="imageURL_header+bell_img_url+imageURL_suffix">
                            </div>
                            <div class="message_content">
                                <!--  铃铛图片后面、删除按钮之前的元素-->
                                <div class="message_content_title">
                                    <label>{{message.notice_title}}</label>
                                </div>
                                <div class="message_content_content">
                                    <label>{{message.notice_content}}</label>
                                </div>
                                <div class="message_content_bottom">
                                    <div class="message_content_time">
                                        <label>{{message.send_time}}</label>
                                    </div>
                                    <div class="message_content_sendBy">
                                        <label>发送人:{{message.send_by_name}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="message_operate">
                                <el-button size="mini" type="text" icon="el-icon-delete" @click="deleteMessage(message.notice_id,3,message.notice_tip,index)">删除</el-button>
                                <!--                                    <el-button size="mini" type="danger" plain @click="chat(message.notice_id)">删除</el-button>-->
                                <el-popover
                                        placement="left-start"
                                        :title="'【'+message.notice_title+'】'"
                                        width="400"
                                        trigger="click"
                                        :content="'[内容]:'+message.notice_content">
                                    <el-button size="mini" type="text" slot="reference">全部内容</el-button>
                                </el-popover>
                            </div>

                        </div>
                        <div class="noDataTips" :style="'display:'+displayDivs.displayDiv1+';'">
                            <!--                        <p>hello world</p>-->
                        </div>
                        <div class="message_pagination">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange_each"
                                    :current-page.sync="currentPage"
                                    :page-size="pageSize"
                                    layout="prev, pager, next, jumper"
                                    :total="totals.total1">
                            </el-pagination>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </div>
            <div class="body_content">

            </div>

        </div>
        <div class="footing">


        </div>
    </div>

    <script src="../js/vue.js"></script>
    <script src="../js/elementui.js"></script>
    <script src="../js/axios.js"></script>
    <script src="../js/messageCenter.js"></script>
</body>
</html>