<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书架测试</title>
    <link rel="icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/comment.css">


</head>
<body>

<div id="zhangjie">


    <button @click="dialogFormVisible = 'ture'">评论章节</button>

    <el-dialog class="dialog_chapter" title="章节评论" :visible.sync="dialogFormVisible">

        <div>
            <div class="comment_input">
                <el-input
                        id="Remark_information"
                        name="Remark_information"
                        type="textarea"
                        :autosize="{ minRows: 2, maxRows: 4}"
                        placeholder="请输入评论内容"
                        v-model="textarea">
                </el-input>
            </div>
            <div class="comment_input">


                <button class="comment_btn" @click="submit_comment">发表评论</button>
            </div>
        </div>

        <div class="comment-parent" v-for="comment in commentData">
            <div class="comment-parent_info">
                <div class="comment-parent_head">
                    <el-avatar :size="50"
                               :src="imageURL_header+comment.head_portrait+imageURL_suffix"></el-avatar>
                </div>
                <div class="comment-parent_info3">
                    <span class="username">{{comment.user_name}}</span><br/>
                    <span class="comment-time">发表时间:{{comment.comment_time}}</span>
                    <button class="reply_comment_btn" @click="changeDisplayReply(comment.comment_id)">
                        {{comment.reply_comment_btn}}
                    </button>

                    <button class="reply_comment_btn_2" @click="changeDisplayReply2(comment.comment_id)">
                        {{comment.reply_comment_btn2}}
                    </button>

                </div>
            </div>
            <div class="comment_content">
                {{comment.comment_content}}
            </div>


            <div :style="'display: '+ comment.displayReply">
                <div class="reply_comment_input">
                    <el-input
                            type="textarea"
                            :autosize="{ minRows: 2, maxRows: 4}"
                            placeholder="请输入回复内容"
                            v-model="textarea_reply">
                    </el-input>
                </div>
                <div class="comment_input">
                    <button class="comment_btn2" @click="submit_commentReply(comment.comment_id)">回复评论
                    </button>
                </div>
            </div>

            <template v-if=" comment.reply_comment_btn2 === '收起' ">
                <div class="comment-child" v-for="commentChild in commentChildData">

                    <template v-if=" comment.comment_id == commentChild.comment_pid ">

                        <div class="comment-child_info">
                            <div class="comment-child_head">
                                <el-avatar :size="50"
                                           :src="imageURL_header+commentChild.head_portrait+imageURL_suffix"></el-avatar>
                            </div>
                            <div class="comment-child_info3">
                                <span class="username_child">{{commentChild.user_name}} 回复 {{comment.user_name}}</span><br/>
                                <span class="comment-time">发表时间:{{commentChild.comment_time}}</span>

                                <button class="reply_comment_btn"
                                        @click="changeDisplayReplyChild(commentChild.comment_id)">
                                    {{commentChild.reply_comment_btn}}
                                </button>

                            </div>

                            <div class="comment-child_content">
                                {{commentChild.comment_content}}
                            </div>

                        </div>

                        <div :style="'display:'+ commentChild.displayReply">
                            <div class="reply_comment_input-child">
                                <el-input
                                        type="textarea"
                                        :autosize="{ minRows: 2, maxRows: 4}"
                                        placeholder="请输入回复内容"
                                        v-model="textarea_reply_child">
                                </el-input>
                            </div>
                            <div class="comment_input">
                                <button class="comment_btn2"
                                        @click="submit_commentReplyChild(comment.comment_id)">回复评论
                                </button>
                            </div>
                        </div>
                        <br>
                    </template>
                </div>
            </template>
            <hr/>
        </div>

    </el-dialog>

</div>


<script src="../js/vue.js"></script>
<script src="../js/elementui.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/pagemessage.js"></script>



</body>
</html>



