<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/workbeanchInterface.css">
    <link rel="stylesheet" href="../css/newlyCreatedWorksInterface.css">

</head>
<body>
<div >

<!--顶部标题栏-->
<div class="authorMainTopdiv">
    <ul class="authorMainTopdul">
        <li id="shaohualog" class="woketopall">
            <img src="../images/SHAOHUALOGO.png" >
        </li>

        <li id="authortips" class="woketopall">
            <p id="authortips-a">欢迎进入作者平台！</p>
        </li>
        <li  id="worketbeach"   class="authorMainTopdli" >
            <img  src="../images/authorworks-32.png" class="woketopall">
        </li>
        <li id="workhelp" class="authorMainTopdli">
            <img  src="../images/authorhelp-32.png" class="woketopall">
        </li>
        <li id="workeinfo" class="authorMainTopdli" >
            <img  src="../images/authorInf-32.png" class="woketopall">
        </li>
        <li id="workeme"  class="authorMainTopdli" >
            <!--            <img id="workeme-img" src="../images/img1.png" class="woketopall">-->
            <div class="dropdown">
                <img   class="woketopall" src="../images/authorme-36.png" type="button" id="workeme-img">
                <div class="dropdown-content" id="workeMe-dropdown">
                    <a href="//www.runoob.com">点我</a>
                    <a href="//www.runoob.com">点我</a>
                    <div style="width:170px;border:1px solid #cccccc;"></div>
                    <a href="//www.runoob.com">点我</a>
                </div>
            </div>
        </li>
    </ul>

</div>

<!--左部标题栏和主题内容-->
<div class="authorMain" >


    <div class="authorMainLeftdiv">
        <ul class="authorMainLeftdul">
            <!--        <li class="nulllist">-->
            <!--            作家专区-->
            <!--        </li>-->
            <li  id="worksBean"  class="authorMainLeftdli"  onclick="workeBeanOnclick(this)" >
                <img src="../images/authorworks-36.png" class="authorMainLeftimg" id="worksBeanimg-id">
                <h href="#home" class="authorMainLefta" id="worksBeanp-id">工作台</h></li>
            </li>

            <li id="worksMangagement" class="authorMainLeftdli" onclick="worksMangagementOnclick(this)">
                <img src="../images/authormangagmentNew-32.png" class="authorMainLeftimg"  id="worksMangagementimg-id">
                <h href="#home" class="authorMainLefta" id="worksMangagementp-id">作品管理</h></li>
            </li>
            <li id="workDataStatistics" class="authorMainLeftdli" onclick="workDataStatisticsOnclick(this)">
                <img src="../images/authordata-32.png" class="authorMainLeftimg"  id="workeDataimg-id" >
                <h href="#home" class="authorMainLefta" id="workeDatap-id">数据中心</h></li>

            </li>
            <li id="remuneration"  class="authorMainLeftdli" onclick="remunerationOnclick(this)">
                <img src="../images/authorremunration-32.png" class="authorMainLeftimg" id="renmunerationimg-id">
                <h href="#home" class="authorMainLefta" id="renmunerationp-id">稿酬收入</h></li>

            </li>
            <li id="interactionManagement"  class="authorMainLeftdli" onclick="interactionManagementOnclick(this)">
                <img src="../images/authorinteraction-32.png" class="authorMainLeftimg"  id="interactionManagementimg-id">
                <h href="#home" class="authorMainLefta" id="interactionManagementp-id">互动管理</h></li>
            </li>
            </li>
        </ul>


    </div>

<!--    主要内容-->
    <div id="app">
        <div id="addWorksInfo">
            <p id = "creatework">创建作品</p>
            <hr id="addworkhr">

            <el-form :model="worksInfo"  ref="worksInfo" label-width="100px"                              class="demo-ruleForm">
                <el-form-item label="书籍名称"                                                                            class="creatwork_include_p" id="creatwork_include_namep">
                    <el-input v-model="worksInfo.work_name" @blur="isworkname"                                          class="creatwork_include_input" id="creatwork_include_nameinput"        style="width: 510px"></el-input>
                </el-form-item>

                <p class="createworkTips" id="work_name_tipid">{{work_Tips.work_name_tip}}</p>

                <el-form-item label="活动区域"  class="creatwork_include_p" id="creatwork_include_labelp">
                    <el-select v-model="worksInfo.work_main_label" placeholder="请选择活动区域"   @change="mainlabelchange"                                              style="width: 250px">
                        <el-option v-for="labels in labelList" :label="labels" :value="labels"></el-option>

                    </el-select>

                    <el-select v-model="worksInfo.work_vice_label" placeholder="请选择活动区域"                                             style="width: 250px">
                        <el-option v-for="vicelabels in vicelabelList" :label="vicelabels" :value="vicelabels"></el-option>

                    </el-select>
                </el-form-item>

                <p class="createworkTips">{{work_Tips.work_label_tip}}</p>


                <el-form-item label="作品介绍"                                                                           class="creatwork_include_p" id="creatwork_include_otherp">
                    <el-input type="textarea" v-model="worksInfo.work_introduct"   @blur="isworkintroduct"              class="creatwork_include_input" id="creatwork_include_otherinput"       style="width: 510px"></el-input>
                </el-form-item>

                <p class="createworkTips" id="work_introduct_tipid">{{work_Tips.work_introduct_tip}}</p>

                <el-form-item label="给读者的话"                                                                         class="creatwork_include_p" id="creatwork_include_otherp">
                    <el-input type="textarea" v-model="worksInfo.work_other_word" @blur="isworkotherwork"               class="creatwork_include_input" id="creatwork_include_otherinput"       style="width: 510px "       style="width: 510px"></el-input>
                </el-form-item>

                <p class="createworkTips" id="work_otherwork_tipid">{{work_Tips.work_otherword_tip}}</p>

                <el-form-item>
                    <el-button type="primary"  @click="submitForm('worksInfo')"   :disabled="iswork_name==0&&iswork_otherword==0&&iswork_introduct==0&&worksInfo.work_vice_label!=null?false:true" class="addwork_to_button" id="addwork_to_buttonid" >立即创建</el-button>
                    <el-button @click="resetForm('worksInfo')"                                                          class="notaddwork_to_button">重置</el-button>
                </el-form-item>
            </el-form>
<!--            <button @click="hreftwo" class="test-one">点我到第二个页面</button>-->
        </div>


    </div>
</div>

</div>


</body>
<script src="../js/vue.js"></script>
<script src="../js/elementui.js"></script>
<script src="../js/axios.js"></script>

<script src="../js/newlyCreatedWorksInterface.js"></script>


</html>