<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小说排行</title>
    <link rel="icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/userMainInterfaceFragment.css">
    <link rel="stylesheet" href="../css/novelRankingInterface.css">
</head>
<body>

<!--    顶部导航信息-->
<div id="usertop_all_div_id">
    <!--顶部导航栏-->
    <div class="userMainTop_class">
        <ul class="user_navigation_bar">
            <li class="workclassification_class" id="user_main_li">
                <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" @click="gotoUserMainIterface()" >首      页</el-button>
            </li>
            <li class="workclassification_class" id="allwork_li">
                <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" @click="gotoAllWorksInterface()">全 部 作 品</el-button>
            </li>
            <li class="workclassification_class" id="paihang_li">
                <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" @click="gotoNovelRankingInterface()">排      行</el-button>
            </li>
            <li class="workclassification_class" id="tuijian_li">
                <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" @click="gotoPersonalityRecommendInterface()">推      荐</el-button>
            </li>
            <li class="workclassification_class" id="chengweizuozhe_li">
                <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" @click="gotoAuthorPrefecture()">作 者 专 区</el-button>
            </li>
            <li class="workclassification_class" id="gerenzhongxin_li">
                <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" @click="gotoMysqelfHtml()">个 人 中 心</el-button>
            </li>
        </ul>
    </div>
    <!--顶部导航栏，用户信息获取-->
    <div class="dierhang">
        <div class="userInfo-class">
            <a class="userInfo-p-class" id="username-p-id" href="#" @click="gotoMysqelfHtml()">您好，{{userInfo.user_name}} </a>
            <el-button type="text" class="userInfo-p-class" id="userout-p-id" href="#" @click="signOut()">退出</el-button>
            <a class="userInfo-p-class" id="haveuser-p-id" >网站注册人数{{userNum}}人</a>
        </div>
        <!--logo，搜索，书架-->
        <img class="imglogo" src="../images/SHAOHUALOGO.png">
        <el-input class="el-select-my" v-model="select_input" placeholder="请输入内容"  size="small" style="width: 300px" style="height: 30px"></el-input>
        <el-button class="el-selectbutton-my" type="danger" size="small" icon="el-icon-search" @click="selectworkInfobyinfo()">搜索</el-button>
        <el-button class="el-shujia-my"  type="info" plain size="small" @click="gotoBookshelf()">
            <img src="../images/shujia-16.png">
            <p>书架</p>
        </el-button>
    </div>
</div>

<!--主要内容-->
<div class="rankinginclue-class" id="rankinginclue_right_id">
    <!--左侧导航栏-->
    <div class="rankinginclue_left_class" id="rankinginclue_left_id">
        <a class="ranking_name_a_class" href="#" @click="clicklistbutton(0)">人气榜单▶</a>
        <div class="hr_div_class"></div>
        <a class="ranking_name_a_class" href="#" @click="clicklistbutton(4)">收藏榜</a>
        <a class="ranking_name_a_class" href="#" @click="clicklistbutton(3)">推荐榜</a>
        <a class="ranking_name_a_class" href="#" @click="clicklistbutton(2)">订阅榜</a>
        <a class="ranking_name_a_class" href="#" @click="clicklistbutton(1)">打赏榜</a>
    </div>

<!--右侧主要内容-->
    <div class="rankinginclue_right_class" >
        <!--顶部导航信息-->
        <div class="rankinginclue_leftneed_class">
            <p class="ranking_need_p_class">人气榜单</p>
            <p class="ranking_need_p1_class">·{{mainlabel}}</p>
            <p class="time_need_p_class">{{nowtime}}  更新</p>
        </div>
        <div class="rankinginclue_right_top_class" id="rankinginclue_right_top_id">
            <a class="rankinginclue_right_top_a_class" id="allwork_id" href="#" @click="clickmainlabel('全部')" >全部作品</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('玄幻')">玄幻</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('奇幻')">奇幻</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('武侠')">武侠</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('仙侠')">仙侠</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('都市')">都市</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('现实')">现实</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('军事')">军事</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('历史')">历史</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('游戏')">游戏</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('体育')">体育</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('科幻')">科幻</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('悬疑')">悬疑</a>
            <a class="fenge_a_class" >·</a>
            <a class="rankinginclue_right_top_a_class" href="#" @click="clickmainlabel('轻小说')">轻小说</a>
        </div>
<!--推荐内容-->
        <div class="rankinginclue_right_bottom_class" id="rankingInclue_right_main_id">
            <div class="rankinginclue_onehang_div_class" id="rankinginclue_onehang_div_id">
                <div class="rankinginclue_right_recommend_class" id="rankinginclue_right_recommend_id">
<!--                    第一行-->
                    <div class="rankinginclue_right_Listname_frist_class">
                        <p class="rankinginclue_right_Listname_p_class">收藏榜</p>
                        <a class="more_Listname_a_class" href="#">更多></a>
                        <div class="whattimes_div_class">
                            <a class="whattimes_a1_class" href="#" @click="clickallRanking(4)">总</a>
                            <a>·</a>
                            <a class="whattimes_a1_class" href="#" @click="clickmonthRanking(4)">月</a>
                            <a>·</a>
                            <a class="whattimes_a1_class" href="#" @click="clickdayRanking(4)">日</a>

                        </div>
                    </div>
                    <div class="rankinghr_div_class"></div>
<!--                    排行第一-->
                    <div class="rankinginclue_right_List_frist_class">

                        <div class="workinfo_left_div_class">
                            <div class="no1_div_class">
                                <p class="no1_p_class">NO 1</p>
                            </div>
                            <a class="no1_work_name_class" href="#"  @click="clickWork_name(collectionInfoVoList[0].work_id)">{{collectionInfoVoList[0].work_name}}</a>
                            <a class="no1_work_num_class"  >{{collectionInfoVoList[0].sumnum}} 收藏</a>
                            <a class="no1_work_state_class"  >{{collectionInfoVoList[0].work_main_label}} {{collectionInfoVoList[0].work_serial_state}}</a>
                        </div>
                        <div class="workinfo_right_div_class">
                            <img class="workinfo_right_img_class" :src="collectionInfoVoList[0].work_cover" href="#" @click="clickWork_name(collectionInfoVo.work_id)">
                        </div>
                    </div>
<!--                    &lt;!&ndash;                    第一之下&ndash;&gt;-->
                    <div class="otherno_work_div_class" v-for="(collectionInfoVo,index) in collectionInfoVoList" :style=" {'display':( index == 0 ? 'none':'')}" >
                        <div class="rankinghr_div2_class"  ></div>

                        <div class="otherranking_work_div_class">
                            <p class="other_work_pnum_class">{{index+1}}</p>
                            <a class="other_work_name_p_class" href="#" @click="clickWork_name(collectionInfoVo.work_id)">{{collectionInfoVo.work_name}}</a>
                            <p class="resultnum_class">{{collectionInfoVo.sumnum}}</p>

                        </div>
                    </div>

                </div>

                <div class="rankinginclue_right_recommend_class" id="rankinginclue_right_recommend2_id">
                    <!--                    第一行-->
                    <div class="rankinginclue_right_Listname_frist_class">
                        <p class="rankinginclue_right_Listname_p_class">推荐榜</p>
                        <a class="more_Listname_a_class" href="#">更多></a>
                        <div class="whattimes_div_class">
                            <a class="whattimes_a1_class" href="#" @click="clickallRanking(3)">总</a>
                            <a>·</a>
                            <a class="whattimes_a1_class" href="#" @click="clickmonthRanking(3)">月</a>
                            <a>·</a>
                            <a class="whattimes_a1_class" href="#" @click="clickdayRanking(3)">日</a>

                        </div>
                    </div>
                    <div class="rankinghr_div_class"></div>
                    <!--                    排行第一-->
                    <div class="rankinginclue_right_List_frist_class">

                        <div class="workinfo_left_div_class">
                            <div class="no1_div_class">
                                <p class="no1_p_class">NO 1</p>
                            </div>
                            <a class="no1_work_name_class" href="#" @click="clickWork_name(recommendInfoVoList[0].work_id)">{{recommendInfoVoList[0].work_name}}</a>
                            <a class="no1_work_num_class" href="#">{{recommendInfoVoList[0].sumnum}} 推荐票</a>
                            <a class="no1_work_state_class" href="#">{{recommendInfoVoList[0].work_main_label}} {{recommendInfoVoList[0].work_serial_state}}</a>
                        </div>
                        <div class="workinfo_right_div_class">
                            <img class="workinfo_right_img_class" :src="recommendInfoVoList[0].work_cover">
                        </div>
                    </div>
                    <!--                    第一之下-->
                    <div class="otherno_work_div_class" v-for="(recommendInfoVo,index) in recommendInfoVoList" :style=" {'display':( index == 0 ? 'none':'')}" >
                        <div class="rankinghr_div2_class" ></div>

                        <div class="otherranking_work_div_class">
                            <p class="other_work_pnum_class">{{index+1}}</p>
                            <a class="other_work_name_p_class" href="#" @click="clickWork_name(recommendInfoVo.work_id)">{{recommendInfoVo.work_name}}</a>
                            <p class="resultnum_class">{{recommendInfoVo.sumnum}}</p>

                        </div>
                    </div>


                </div>
            </div>

            <div class="rankinginclue_twohang_div_class" id="rankinginclue_twohang_div_id">
                <div class="rankinginclue_right_recommend_class" id="rankinginclue_right_recommend3_id">
                    <!--                    第一行-->
                    <div class="rankinginclue_right_Listname_frist_class">
                        <p class="rankinginclue_right_Listname_p_class">订阅榜</p>
                        <a class="more_Listname_a_class" href="#">更多></a>
                        <div class="whattimes_div_class">
                            <a class="whattimes_a1_class" href="#" @click="clickallRanking(2)">总</a>
                            <a>·</a>
                            <a class="whattimes_a1_class" href="#" @click="clickmonthRanking(2)">月</a>
                            <a>·</a>
                            <a class="whattimes_a1_class" href="#" @click="clickdayRanking(2)">日</a>

                        </div>

                    </div>
                    <div class="rankinghr_div_class"></div>
                    <!--                    排行第一-->
                    <div class="rankinginclue_right_List_frist_class">

                        <div class="workinfo_left_div_class">
                            <div class="no1_div_class">
                                <p class="no1_p_class">NO 1</p>
                            </div>
                            <a class="no1_work_name_class" href="#" @click="clickWork_name(subscribeInfoVoList[0].work_id)">{{subscribeInfoVoList[0].work_name}}</a>
                            <a class="no1_work_num_class" href="#">{{subscribeInfoVoList[0].sumnum}} 次订阅</a>
                            <a class="no1_work_state_class" href="#">{{subscribeInfoVoList[0].work_main_label}} {{subscribeInfoVoList[0].work_serial_state}}</a>
                        </div>
                        <div class="workinfo_right_div_class">
                            <img class="workinfo_right_img_class" :src="subscribeInfoVoList[0].work_cover">
                        </div>
                    </div>
                    <!--                    第一之下-->
                    <div class="otherno_work_div_class" v-for="(subscribeInfoVo,index) in subscribeInfoVoList" :style=" {'display':( index == 0 ? 'none':'')}">
                        <div class="rankinghr_div2_class"></div>

                        <div class="otherranking_work_div_class">
                            <p class="other_work_pnum_class">{{index+1}}</p>
                            <a class="other_work_name_p_class" href="#" @click="clickWork_name(subscribeInfoVo.work_id)">{{subscribeInfoVo.work_name}}</a>
                            <p class="resultnum_class">{{subscribeInfoVo.sumnum}}</p>
                        </div>
                    </div>
                </div>



                <div class="rankinginclue_right_recommend_class" id="rankinginclue_right_recommend4_id">
                    <!--                    第一行-->
                    <div class="rankinginclue_right_Listname_frist_class">
                        <p class="rankinginclue_right_Listname_p_class">打赏榜</p>
                        <a class="more_Listname_a_class" href="#">更多></a>
                        <div class="whattimes_div_class">
                            <a class="whattimes_a1_class" href="#" @click="clickallRanking(1)">总</a>
                            <a>·</a>
                            <a class="whattimes_a1_class" href="#" @click="clickmonthRanking(1)">月</a>
                            <a>·</a>
                            <a class="whattimes_a1_class" href="#" @click="clickdayRanking(1)">日</a>

                        </div>
                    </div>
                    <div class="rankinghr_div_class"></div>
                    <!--                    排行第一-->
                    <div class="rankinginclue_right_List_frist_class">

                        <div class="workinfo_left_div_class">
                            <div class="no1_div_class">
                                <p class="no1_p_class">NO 1</p>
                            </div>
                            <a class="no1_work_name_class" href="#" @click="clickWork_name(rewardInfoVoList[0].work_id)">{{rewardInfoVoList[0].work_name}}</a>
                            <a class="no1_work_num_class" href="#">{{rewardInfoVoList[0].sumnum}} 金豆</a>
                            <a class="no1_work_state_class" href="#">{{rewardInfoVoList[0].work_main_label}} {{rewardInfoVoList[0].work_serial_state}}</a>
                        </div>
                        <div class="workinfo_right_div_class">
                            <img class="workinfo_right_img_class" :src="rewardInfoVoList[0].work_cover">
                        </div>
                    </div>
                    <!--                    第一之下-->
                    <div class="otherno_work_div_class"  v-for="(rewardInfoVo,index) in rewardInfoVoList" :style=" {'display':( index == 0 ? 'none':'')}">
                        <div class="rankinghr_div2_class"></div>

                        <div class="otherranking_work_div_class" >
                            <p class="other_work_pnum_class">{{index+1}}</p>
                            <a class="other_work_name_p_class" href="#" @click="clickWork_name(rewardInfoVo.work_id)">{{rewardInfoVo.work_name}}</a>
                            <p class="resultnum_class">{{rewardInfoVo.sumnum}}</p>

                        </div>
                    </div>


                </div>


            </div>
        </div>


        <div class="bottom_div_class">

        </div>
    </div>


</div>



</body>
<script src="../js/vue.js"></script>
<script src="../js/elementui.js"></script>
<script src="../js/index.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/userMainInterface.js"></script>
<script src="../js/novelRankingInterface.js"></script>


</html>