<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作品推荐界面</title>
    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/userMainInterfaceFragment.css">
    <link rel="stylesheet" href="../css/personalityRecommendInterface.css">
</head>
<body>
<div >


<!--    顶部导航信息-->
    <div id="usertop_all_div_id">
        <!--顶部导航栏-->
        <div class="userMainTop_class">
            <ul class="user_navigation_bar">
                <li class="workclassification_class" id="user_main_li">
                    <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" >首      页</el-button>
                </li>
                <li class="workclassification_class" id="allwork_li">
                    <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" >全 部 作 品</el-button>
                </li>
                <li class="workclassification_class" id="paihang_li">
                    <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" >排      行</el-button>
                </li>
                <li class="workclassification_class" id="tuijian_li">
                    <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" >推      荐</el-button>
                </li>
                <li class="workclassification_class" id="chengweizuozhe_li">
                    <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" >成 为 作 者</el-button>
                </li>
                <li class="workclassification_class" id="gerenzhongxin_li">
                    <el-button class="el-button-my" type="danger"  size="small"  style="width: 184px" >个 人 中 心</el-button>
                </li>
            </ul>
        </div>
        <!--顶部导航栏，用户信息获取-->
        <div class="dierhang">
            <div class="userInfo-class">
                <a class="userInfo-p-class" id="username-p-id" href="http://www.w3school.com.cn">您好，昵称 </a>
                <a class="userInfo-p-class" id="userout-p-id" href="http://www.w3school.com.cn">退出</a>
                <a class="userInfo-p-class" id="haveuser-p-id" href="http://www.w3school.com.cn">网站注册人数5人</a>
            </div>
            <!--logo，搜索，书架-->
            <img class="imglogo" src="../images/SHAOHUALOGO.png">
            <el-input class="el-select-my" v-model="select_input" placeholder="请输入内容"  size="small" style="width: 300px" style="height: 30px"></el-input>
            <el-button class="el-selectbutton-my" type="danger" size="small" icon="el-icon-search" @click="selectbyinfo()">搜索</el-button>
            <el-button class="el-shujia-my"  type="info" plain size="small" @click="selectbyinfo()">
                <img src="../images/shujia-16.png">
                <p>书架</p>
            </el-button>
        </div>
    </div>

    <!--主要内容-->
    <div class="personality_class" id="personalityRecommend_id" >
        <div class="personality_title_class">
            <img class="title_img_class" src="../images/xiaolian-32.png">
            <p class="title_p_class">我们将根据内平时感兴趣的作品类型为您推荐作品</p>
        </div>

        <div class="personality_left_class"  >

            <!--每个作品信息-->
            <div class="responseWorksInfo_div_class" v-for="workWholeInfoVo in workWholeInfoVoList" >


                <div class="responseWorkcover_div_class">
                    <a href="#">
                        <img class="responseWorkcover_img_class" :src="workWholeInfoVo.work_cover" >
                    </a>
                </div>
                <div class="responseotherWork_div_class">
                    <a class="work_name_a_class" href="#">{{workWholeInfoVo.work_name}}</a>
                    <div class="work_hang2_div_class">
                        <img class="rankingme_img_class" src="../images/authorme-36.png">
                        <a class="username_a_class" href="#" >{{workWholeInfoVo.user_name}}</a>
                        <p class="otherworkInfo_hang2_info">{{workWholeInfoVo.work_main_label}} &nbsp; | &nbsp; {{workWholeInfoVo.work_serial_state}}</p>
                    </div>
                    <p class="workintroduct_p_class">
                        {{workWholeInfoVo.work_introduct}}
                    </p>
                    <div class="work_hang4_div_class">
                        <a class="newchapter_b_class" >最新章节：</a>
                        <a class="newchapter_a_class" href="#">{{workWholeInfoVo.chapter_title}}</a>
                        <a class="newchapter_time_a_class">更新时间： {{workWholeInfoVo.chapter_time}}</a>
                    </div>

                </div>
                <div class="rankingWorkButton_div_class">
                    <a class="num_a_class">{{workWholeInfoVo.work_vote_num}} </a>
                    <a class="num_a2_class">推荐票</a>

                    <el-button class="addto_button_class" type="danger" plain size="small">加入书架</el-button>
                    <el-button class="seeDt_button_class"  plain size="small">查看详情</el-button>

                </div>
                <div class="divhr_class"></div>
            </div>

        </div>

        <div class="personality_right_class">
            <p class="personality_rightp_class">今日推荐</p>

            <div class="personality_right_div_class" v-for="recommendInfoVo in recommendInfoVoList">
                <p class="main_label_class">[{{recommendInfoVo.work_main_label}}]</p>
                <a class="work_name_class" href="#" >{{recommendInfoVo.work_name}}</a>
            </div>


        </div>
    </div>









</div>
</body>

<script src="../js/vue.js"></script>
<script src="../js/elementui.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/userMainInterface.js"></script>
<script src="../js/personalityInterface.js"></script>




</html>