<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作品数据统计</title>

    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/workbeanchFragment.css">
    <link rel="stylesheet" href="../css/workDataStatistics.css">



</head>
<body>
<div >

<!--顶部标题栏-->
<div class="authorMainTopdiv">
    <ul class="authorMainTopdul">
        <li id="shaohualog" class="woketopall">
            <img src="../images/icon/shaohua-ps-cut-all.png" >
        </li>

        <li id="authortips" class="woketopall">
            <p id="authortips-a">欢迎进入作者平台！</p>
        </li>
        <li  id="worketbeach"   class="authorMainTopdli" >
            <img  src="../images/authorworks-32.png" class="woketopall">
        </li>
        <li id="workhelp" class="authorMainTopdli">
            <img  src="../images/authorhelp-32.png" class="woketopall">
        </li>
        <li id="workeinfo" class="authorMainTopdli" >
            <img  src="../images/authorInf-32.png" class="woketopall">
        </li>
        <li id="workeme"  class="authorMainTopdli" >
            <!--            <img id="workeme-img" src="../images/img1.png" class="woketopall">-->
            <div class="dropdown">
                <img   class="woketopall" src="../images/authorme-36.png" type="button" id="workeme-img">
                <div class="dropdown-content" id="workeMe-dropdown">
                    <a href="//www.runoob.com">点我</a>
                    <a href="//www.runoob.com">点我</a>
                    <div style="width:170px;border:1px solid #cccccc;"></div>
                    <a href="//www.runoob.com">点我</a>
                </div>
            </div>
        </li>
    </ul>

</div>

<!--左部标题栏和主题内容-->
<div class="authorMain" >


    <div class="authorMainLeftdiv">
        <ul class="authorMainLeftdul">
            <!--        <li class="nulllist">-->
            <!--            作家专区-->
            <!--        </li>-->
            <li  id="worksBean"  class="authorMainLeftdli"  onclick="workeBeanOnclick(this)" >
                <img src="../images/authorworks-36.png" class="authorMainLeftimg" id="worksBeanimg-id">
                <h href="#home" class="authorMainLefta" id="worksBeanp-id">工作台</h></li>
            </li>

            <li id="worksMangagement" class="authorMainLeftdli" onclick="worksMangagementOnclick(this)">
                <img src="../images/authormangagmentNew-32.png" class="authorMainLeftimg"  id="worksMangagementimg-id">
                <h href="#home" class="authorMainLefta" id="worksMangagementp-id">作品管理</h></li>
            </li>
            <li id="workDataStatistics" class="authorMainLeftdli" onclick="workDataStatisticsOnclick(this)">
                <img src="../images/authordata-32.png" class="authorMainLeftimg"  id="workeDataimg-id" >
                <h href="#home" class="authorMainLefta" id="workeDatap-id">数据中心</h></li>

            </li>
            <li id="remuneration"  class="authorMainLeftdli" onclick="remunerationOnclick(this)">
                <img src="../images/authorremunration-32.png" class="authorMainLeftimg" id="renmunerationimg-id">
                <h href="#home" class="authorMainLefta" id="renmunerationp-id">稿酬收入</h></li>

            </li>
            <li id="interactionManagement"  class="authorMainLeftdli" onclick="interactionManagementOnclick(this)">
                <img src="../images/authorinteraction-32.png" class="authorMainLeftimg"  id="interactionManagementimg-id">
                <h href="#home" class="authorMainLefta" id="interactionManagementp-id">互动管理</h></li>
            </li>
            </li>
        </ul>


    </div>

<!--    主要内容-->
    <div id="workDataStatistics_div">
        <div class="content_title">
            <p id = "remuneration-p-id">数据统计</p>
            <hr id="remuneration-hr-id">
        </div>
        <div class="content_body">
            <el-tabs type="border-card">
                <el-tab-pane label="订阅统计">
                    <div class="tab_pane">
                        <div class="tab_pane_header">
                            <div class="pane_header_tips">
                                <label>选择作品：</label>
                            </div>
                            <div class="pane_header_selector">
                                <el-select v-model="select.value_1" placeholder="请选择作品">
                                    <el-option
                                            v-for="item in work_options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="pane_header_button">
                                <el-button type="primary" plain @click="selectWork">查看</el-button>
                            </div>
                        </div>
                        <div class="pane_header_hr">
                            <hr>
                        </div>
                        <div class="figure_all">
                            <div class="subscription_statistics">
                                <div class="subscription_all">
                                    <span>总订阅：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>{{this.subscription_data.all}}</label></span>
                                </div>
                                <div class="subscription_one">
                                    <div class="subscription_one_tips">
                                        昨日新增订阅量
                                    </div>
                                    <div class="subscription_one_value">
                                        {{this.subscription_data.yesterday}}
                                    </div>
                                </div>
                                <div class="subscription_one">
                                    <div class="subscription_one_tips">
                                        章节平均订阅量
                                    </div>
                                    <div class="subscription_one_value">
                                        {{this.subscription_data.average}}
                                    </div>
                                </div>
                                <div class="subscription_one">
                                    <div class="subscription_one_tips">
                                        章节最高订阅量
                                    </div>
                                    <div class="subscription_one_value">
                                        {{this.subscription_data.most}}
                                    </div>
                                </div>
                            </div>
                            <div id="figure_subscription" style="width: 750px;height: 380px">
                                <!--图形空间-->
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="读者群体画像">
                    <div class="tab_pane">
                        <div class="tab_pane_header">
                            <div class="pane_header_tips">
                                <label>选择作品：</label>
                            </div>
                            <div class="pane_header_selector">
                                <el-select v-model="select.value_1" placeholder="请选择作品">
                                    <el-option
                                            v-for="item in work_options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="pane_header_button">
                                <el-button type="primary" plain @click="selectWork">查看</el-button>
                            </div>
                        </div>
                        <div class="pane_header_hr">
                            <hr>
                        </div>
                        <div class="figure_all">
                            <div class="figure_header">
                                <div class="figure_all_tips">
                                    <label>读者性别年龄比例分布</label>
                                </div>
                            </div>
                            <div class="figure_content">
                                <!--图形空间-->
                                <div id="figure_reader_male" style="width: 400px;height: 420px">

                                </div>
                                <div id="figure_reader_female" style="width: 400px;height: 420px">

                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="读者行为偏好">
                    <div class="tab_pane">
                        <div class="tab_pane_header">
                            <div class="pane_header_tips">
                                <label>选择作品：</label>
                            </div>
                            <div class="pane_header_selector">
                                <el-select v-model="select.value_1" placeholder="请选择作品">
                                    <el-option
                                            v-for="item in work_options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="pane_header_button">
                                <el-button type="primary" plain @click="selectWork">查看</el-button>
                            </div>
                        </div>
                        <div class="pane_header_hr">
                            <hr>
                        </div>
                        <div class="figure_all">
                            <div class="figure_header">
                                <div class="figure_all_tips">
                                    <label>读者行为统计分析</label>
                                </div>
                            </div>
                            <div class="figure_content">
                                <!--图形空间-->
                                <div id="figure_behavior_time" style="width: 400px;height: 420px">

                                </div>
                                <div id="figure_behavior_like" style="width: 400px;height: 420px">

                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </div>
        <div class="content_bottom">
            <label>
                该数据由【韶华书屋】平台统计获得，同时感谢echarts的开源使用！
            </label>
        </div>
    </div>

</div>

</div>


</body>
<script src="../js/echarts.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/elementui.js"></script>
<script src="../js/axios.js"></script>

<script src="../js/workDataStatistics.js"></script>



</html>